:host {
  --image-shell-loading-background: #{ rgba(#CCCCCC, .25); };
  --image-shell-overlay-background: #{ rgba(#000000, .4); };
  --image-shell-spinner-size: 30px;
  --image-shell-spinner-color: #9e9e9e;

  display: block;
  position: relative;
  height: 100%;
  border-radius: var(--image-shell-border-radius);
  transition: all ease-in-out .3s;
  z-index: 2;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.5);

  // By default, hide the spinner
  & > .spinner {
    display: none;
  }

  // Loading background
  &::before {
    content: '';
    background-color: var(--image-shell-loading-background);
    border-radius: var(--image-shell-border-radius);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }

  &:not([mode="cover"]) {
    width: 100%;
    overflow: hidden;

    & > .inner-img {
      position: absolute;
      top: 0;
      left: 0;
      transition: visibility 0s linear, opacity .5s linear;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;
      border-radius: var(--image-shell-border-radius);
      z-index: -1;
    }

    &.img-loaded {
      // Hide loading background once the image has loaded
      &::before {
        display: none;
      }

      & > .inner-img {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // If it is mode: cover
  &[mode="cover"] {
    background-size: cover;
    background-repeat: no-repeat;

    & > .inner-img {
      display: none;
      visibility: hidden;
    }

    &.img-loaded {
      // Hide loading background once the image has loaded
      &::before {
        display: none;
      }
    }
  }
}

:host(.add-spinner) {
  & > .spinner {
    display: block;
    position: absolute;
    top: calc(50% - calc(var(--image-shell-spinner-size) / 2));
    left: calc(50% - calc(var(--image-shell-spinner-size) / 2));
    width: var(--image-shell-spinner-size);
    height: var(--image-shell-spinner-size);
    font-size: var(--image-shell-spinner-size);
    line-height: var(--image-shell-spinner-size);
    color: var(--image-shell-spinner-color);
    z-index: -1;
  }

  &.img-loaded {
    & > .spinner {
      display: none;
      visibility: hidden;
    }
  }
}

:host(.add-overlay) {
  &.img-loaded {
    // Add background overlay after the image has loaded
    &::before {
      display: block;
      background-color: var(--image-shell-overlay-background);
    }
  }
}
