<ion-list>
  <ion-item lines="none" *ngFor="let opcion of listaOpciones">
    <ion-button fill="clear" (click)="goOption(opcion.url)"><ion-icon slot="start" [name]="opcion.icon"></ion-icon>{{opcion.text}}</ion-button>
  </ion-item>
</ion-list>
