ion-content{
    --background:#eeeeee;
}

ion-toolbar{
    --background: transparent;
    --ion-color-base: transparent !important;   
}

ion-button{
    color: #0067ae;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    margin-right: 10px;
}

ion-card{
    width: 96%;
    margin: 20px auto 20px auto;
    border-radius: 30px;
}

h2{
    color: black;
}

ion-card-content{
    padding: 5px;
}

img{
    width: 80% !important;
    margin: auto;
}

p{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    margin: 5px 30px 10px 30px;
    text-align: justify;
}