<ion-content fullscreen>
    
    <ion-slides  [options]="slideOpts">
        <ion-slide *ngFor="let paso of listaPasos">
            <ion-card>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button fill="clear" slot="icon-only" routerLink="/crece" routerDirection="back"><ion-icon name="arrow-back"></ion-icon></ion-button>       
                    </ion-buttons>
                    <ion-buttons slot="end">
                        <ion-button size="small" shape="round">SALTAR</ion-button>
                    </ion-buttons>
                </ion-toolbar>
                    <h2>{{paso.titulo}}</h2>
                <ion-card-content>
                    <img [src]="paso.image">
                    <p>{{paso.descripcion}}</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card>
                <ion-toolbar>
                    <ion-buttons slot="end">
                        <ion-button size="small" shape="round">SALTAR</ion-button>
                    </ion-buttons>
                </ion-toolbar>
                    <h2>PASO 4</h2>
                <ion-card-content>
                    <img src="../../../assets/tutoriales/crece/paso4.png">
                    <p>{{paso.descripcion}}</p>
                    <ion-button fill="clear">INICIAR
                        <ion-icon slot="end" mode="ios" name="arrow-forward"></ion-icon>
                   </ion-button>
                </ion-card-content>
            </ion-card>
        </ion-slide>  
    </ion-slides>
</ion-content>
