  ion-toolbar{
      color: linear-gradient(to right, #253676, #0067ae);
  }
    
  ion-title{
    padding: 10px;
  }

  ion-item{
    border-bottom: 1.5px solid #e3e3e3;

    .asunto{
      color: black;
      font-weight: 400;
    }

    .fecha{
      color: #999999;
      font-weight: 200;
      font-size: 12px;
    }

    .de{
      color: red;
      font-weight: 300;
    }

    .para{  
      color: #999999;
      font-weight: 300;
    }
  }
  
  ion-avatar{
    width: 60px;
    height: 60px;
    margin-left: 10px;
  }

  ion-item .title{
    color: #999999;
  }

  .message-container{
    padding: 16px;

    .h4{
      font-size: 18px;
      font-weight: 400;
    }

    p{
      text-align: justify;
      font-size: 14px;
    }
  }

  img{
    width: 100% !important;
    height: auto;
  }