<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" mode="md" defaultHref="/cotiza"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear"><ion-icon color="secondary" mode="ios" name="trash"></ion-icon></ion-button>
      <ion-button fill="clear"><ion-icon color="secondary" mode="md" name="more"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <ion-item lines="none" no-padding>
    <ion-avatar slot="start">
      <ion-img src="https://e.radio-studio92.io/normal/2018/09/18/233323_680179.jpg"></ion-img>
    </ion-avatar>
    <ion-label>
      <h1>Mia Khalifa</h1>
      <p class="title">Asunto: <b class="asunto">Saludar</b></p>
      <p><b class="fecha">12:05 am 16 de Junio 2019</b></p>
      <p class="title">De: <b class="de">miakhalifa12@gmail.com</b></p>
      <p class="title">Para: <b class="para">bryan_20006@gmail.com</b></p>
    </ion-label>
  </ion-item>

  <div class="message-container">
    <h4>Saludar</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eius, perferendis nisi incidunt quos a! Repudiandae inventore asperiores quos laboriosam sit quisquam possimus? Provident officia aperiam quos fugiat? Fugiat, omnis.</p>
    <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeCxq-QmadQWjNnxqE3MhLLbhKOtiZHTqG4nGI8z8ljkF3sKTo"></ion-img>
  </div>

</ion-content>
<ion-footer>
  <ion-button style="float: left;" size="small" color="secondary">Atras
    <ion-icon slot="start" mode="ios" name="undo"></ion-icon>
  </ion-button>

  <ion-button style="float: right;" size="small" color="secondary">
    <ion-icon slot="end" mode="ios" name="redo"></ion-icon>Siguiente
  </ion-button>
</ion-footer>
