<ion-header border="none">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" mode="md" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">CY COTIZA</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="opciones != 'peticion'" color="light" fill="clear" slot="icon-only" (click)="searchBar()">
        <ion-icon color="light" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
      <ion-segment mode="md" scrollable="true" [(ngModel)]="opciones" (ionChange)="segmentChanged($event)">
        <ion-segment-button mode="md" layout="icon-top" value="peticion">
          <ion-label color="light">Peticiones</ion-label>
          <ion-icon color="light" name="clipboard"></ion-icon>
        </ion-segment-button>
        <ion-segment-button mode="md" layout="icon-top" value="cotizacion">
          <ion-label color="light">Cotizaciones</ion-label>
          <ion-icon color="light" name="mail"></ion-icon>
        </ion-segment-button>
        <ion-segment-button mode="md" layout="icon-top" value="mi_cotizacion">
          <ion-label color="light">Mis Cotizaciones</ion-label>
          <ion-icon color="light" name="mail-open"></ion-icon>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-searchbar *ngIf="opciones != 'peticion'" color="light" mode="ios" animated="true" placeholder="Busca por nombre..." [(ngModel)]="searchTerm" (ionChange)="searchList()"></ion-searchbar>

    <div [ngSwitch]="opciones">

        <div *ngIf="opciones == 'peticion' "> 

            <div>
                <!-- <ion-grid>
                  <ion-row nowrap>
                    <ion-col *ngFor="let categoria of listaCategorias">
                        <ion-button class="btn-categoria" color="secondary" size="small" shape="round" (click)="listarCategoria(categoria.valor)"> {{categoria.descripcion}} </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid> -->
            </div>

        </div>
        
        <div *ngIf="opciones == 'cotizacion' "> 

          <ion-item *ngFor="let recibido of listaRecibidos" class="mail-box" lines="none" no-padding (click)="goMail()" detail>
            <ion-avatar slot="start">
              <ion-img [src]="recibido.foto"></ion-img>
            </ion-avatar>
            <ion-label>
              <h5>{{recibido.empresa}}</h5>
              <p>{{recibido.descripcion}}</p>
            </ion-label>
            <ion-note slot="end">{{recibido.fecha}}</ion-note>
          </ion-item>

        </div>

        <div *ngIf="opciones == 'mi_cotizacion' "> 

            <ion-item *ngFor="let enviado of listaEnviados" class="mail-box" lines="none" no-padding (click)="goMail()" detail>
                <ion-avatar slot="start">
                  <ion-img [src]="enviado.foto"></ion-img>
                </ion-avatar>
                <ion-label>
                  <h5>{{enviado.empresa}}</h5>
                  <p>{{enviado.descripcion}}</p>
                </ion-label>
                <ion-note slot="end">{{enviado.fecha}}</ion-note>
            </ion-item>

        </div>
    
    </div>    

    <ion-fab *ngIf="opciones == 'peticion'" horizontal="end" vertical="bottom">
      <ion-fab-button color="secondary" (click)="goPage('/cotiza/registro-fase1')">
          <ion-icon name="add"></ion-icon><ion-icon name="clipboard"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
