ion-toolbar{
  --background: linear-gradient(to right, #253676, #0067ae);
  color: white;
}
  
ion-content{
  --background: #eeeeee;
}

ion-title{
  padding: 10px;
}

  
ion-segment-button{
  --color-activate: white;
  --color-checked: white;
  font-size: 10px;
}

// ion-row{
//   overflow-x: scroll !important;
// }

// .btn-categoria{
//   --border-radius: 45px;
// }
  
.mail-box{
  background: white;
  border-radius: 15px;
  margin: 5px;
}

ion-avatar{
  margin: 10px;
}

ion-note{
  font-size: 10px;
}

ion-icon{
  font-size: 24px;
}
