<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>EMPRESAS</ion-title>
  </ion-toolbar>

  <ion-toolbar color="light">
    <ion-segment class="user-friends-segment" mode="md" [(ngModel)]="opciones" (ionChange)="segmentChanged($event)">
      <ion-segment-button mode="md" value="free">
        <ion-label>Plan Free</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="md" value="paga">
        <ion-label>Plan Pago</ion-label>
      </ion-segment-button>
  </ion-segment>
  
  <ion-searchbar class="friends-searchbar" animated [(ngModel)]="searchQuery" (ionChange)="searchList()" placeholder="Buscar"></ion-searchbar>

  </ion-toolbar>

</ion-header>

<ion-content class="user-profile-content">

    <div [ngSwitch]="opciones">
    
      <ion-list *ngSwitchCase="'free'">

    <div *ngFor="let empresa of ListaEmpresaFree" (click)="irDetalle(empresa.idSocio)">
      <ion-row class="user-details-section">
          <ion-col class="user-image-wrapper">
              <app-aspect-ratio [ratio]="{w: 1, h: 1}">
                <app-image-shell class="user-avatar add-spinner" [src]="empresa.logo"></app-image-shell>
              </app-aspect-ratio>
          </ion-col>
          <ion-col class="user-info-wrapper">
            <ion-row class="user-data-row">
              <ion-col size="12">
                <h4 class="user-name">
                  <app-text-shell [data]="empresa.razon_s"></app-text-shell>
                </h4>
                <h5 class="user-title">
                  <app-text-shell [data]="empresa.direccion"></app-text-shell>
                </h5>
              </ion-col>
            </ion-row>
          </ion-col>
      </ion-row>
    </div>  

    </ion-list>

    <ion-list *ngSwitchCase="'paga'">

      <div *ngFor="let empresa of ListaEmpresaPaga" (click)="irDetalle(empresa.idSocio)">
          <ion-row class="user-details-section">
              <ion-col class="user-image-wrapper">
                  <app-aspect-ratio [ratio]="{w: 1, h: 1}">
                    <app-image-shell class="user-avatar add-spinner" [src]="empresa.logo"></app-image-shell>
                  </app-aspect-ratio>
              </ion-col>
              <ion-col class="user-info-wrapper">
                <ion-row class="user-data-row">
                  <ion-col size="12">
                    <h4 class="user-name">
                      <app-text-shell [data]="empresa.razon_s"></app-text-shell>
                    </h4>
                    <h5 class="user-title">
                      <app-text-shell [data]="empresa.direccion"></app-text-shell>
                    </h5>
                  </ion-col>
                </ion-row>
              </ion-col>
          </ion-row>
          </div>  
      </ion-list>

    </div>  

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addSocio()"><ion-fab-button color="secondary" size="small"><ion-icon name="add"></ion-icon></ion-fab-button></ion-fab>

</ion-content>
