// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


// EXTRA GLOBAL STYLES
// Add custom Ionic Colors
@import "./theme/custom-ion-colors.scss";
// Add base app styles
@import "./theme/app-defaults.scss";
// Add base shell styles
@import "./theme/shell-defaults.scss";
@import '~animate.css/animate.min.css';


.item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
    padding-left: 10px;
}

.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h{
    padding-left: 10px;
}

.list-md[no-lines] .item-block, .list-md[no-lines] ion-item-options, .list-md[no-lines] .item .item-inner{
    margin-left: 1px;
}

.list-md {
    margin-bottom: 1px;
    background: transparent;
}

.list-ios {
    margin-bottom: 1px;
    background: transparent;
}

.info-container{
    width: 100%;
    height: 150px;
}

.info-container p{
    font-size: 13px;
    color: #ffffff;
    text-align: left;
    padding-left: 10px;
}

.info-container b{
    font-size: 14px;
    color: #ffffff;
    font-weight: bolder;
}

.logo-container{
    width: 60px;
    height: 60px;
    margin: 10px 0px 20px 10px;
}

.logo-menu{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.fecha_venc{
    width: 100%;
    padding-left: 10px;
    color: white;
    font-style: 'Helvetica';
    font-size: 13px;
    margin-top: -50px;
}

.input-wrapper .label-md{
    margin: 0px;
    color: #253676;
}

.menu-header{
    background:linear-gradient(to right, #0067ae, #253676);
}

.no-scroll{
    --background:linear-gradient(to right, #0067ae, #253676);
}

ion-item-divider{
    --background: transparent;
    color: white;
}

ion-item{
    --background:transparent;
}

.item-detail-icon{
    color: white;
}

.loginModal .modal-wrapper{
    --background: rgb(255,255,255,0.5);
    --border-radius: 10px;
    --width: 80%;
    --height: 45%;
}

.signupModal .modal-wrapper{
    --background: rgb(255,255,255,0.5);
    --border-radius: 10px;
    --width: 80%;
    --height: 50%;
}