<ion-split-pane>
  <ion-menu side="end" type="reveal" swipe-gesture="true" menuId="profileMenu" >
    
    <ion-header>
      <br><br><br>
    </ion-header>

    <ion-content>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
        <ion-item class="item-pd" lines="none" [class.active-item]="selectedPath.startsWith(p.action)" (click)="getAction(p.action)">
          <ion-icon [name]="p.icon" mode="ios" slot="start"></ion-icon>{{ p.title }}
        </ion-item>
      </ion-menu-toggle>
    </ion-content>

  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-split-pane>  
