<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/empresa"></ion-back-button>
    </ion-buttons>  
      <ion-title>EMPRESA</ion-title>
  </ion-toolbar>    
</ion-header>

<ion-content class="travel-details-content">

    <img class="logo-socio" [src]="logo_socio">

     <h4>Información del Empresario</h4>
          <ion-item lines="none">
            <ion-icon color="medium" name="contact" item-left></ion-icon>
            <ion-label color="primary">{{nombre_socio}}</ion-label>
          </ion-item>  
          <ion-item lines="none">
            <ion-icon color="medium" name="barcode" item-left></ion-icon>
            <ion-select [(ngModel)]="tdoc_socio" [disabled]="true">
              <ion-select-option value="1">DNI</ion-select-option>
              <ion-select-option value="2">RUC</ion-select-option>
              <ion-select-option value="3">Carnet de Extranjeria</ion-select-option>
            </ion-select>
          </ion-item>    
          <ion-item lines="none">
            <ion-icon color="medium" name="card" item-left></ion-icon>
            <ion-label color="primary">{{ndco_socio}}</ion-label>
          </ion-item>


        <h4>Información de la Empresa</h4>
        <ion-item lines="none">
            <ion-icon color="medium" name="podium" item-left></ion-icon>
            <ion-label color="primary">{{razon}}</ion-label>
        </ion-item>
        <ion-item lines="none">
            <ion-icon color="medium" name="barcode" item-left></ion-icon>
            <ion-label color="primary">{{ruc}}</ion-label>
        </ion-item>  
        <ion-item lines="none">
            <ion-icon color="medium" name="mail" item-left></ion-icon>
            <ion-label color="primary">{{correo}}</ion-label>
        </ion-item> 
        <ion-item lines="none">
            <ion-icon color="medium" name="call" item-left></ion-icon>
            <ion-label color="primary" (click)="callSocio(telefono)">{{telefono}}</ion-label>
        </ion-item> 
        <ion-item lines="none">
            <ion-icon color="medium" name="pin" item-left></ion-icon>
            <ion-label color="primary">{{direccion}}</ion-label>
        </ion-item> 

    <ion-button *ngIf="read != null" color="primary" class="btn-guardar" expand="block" fill="outline" (click)="registrarSocio()">Guardar</ion-button>
  

</ion-content>
