:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background);
  
    --page-tags-vertical-gutter: 2px;
    --page-tags-horizontal-gutter: 4px;
    --page-places-gutter: 5px;
  
    --page-color: #00AFFF;

    app-image-shell.details-image {
        --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
        --image-shell-overlay-background: rgba(var(--ion-color-dark-rgb), .40);
        --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
      }

}

ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
}

h4{
    margin-left: 20px;
    color: #0067ae;
    font-size: 18px;
}

.ion-color.sc-ion-label-md-h, .ion-color.sc-ion-label-ios-h{
    padding-left: 10px;
}

.travel-details-content {
    --background: var(--page-background);
  
    .image-row {
      --ion-grid-column-padding: 0px;
  
      .icon-wrapper {
        margin: 0px 15%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }
}

ion-toolbar{
    padding: 0px 4px 0px 4px;
}

.logo-socio{
    width: 100% !important;
    height: 50vh;
}   

ion-card{
    margin: 0px 0px 0px 0px;
    z-index: 999;
}

.card-md .item-md.item-block .item-inner{
    padding-left: 10px;
}

ion-input{
    --width: 90%;
    border-bottom: 1px solid #203057;
    margin-left: 5px;
}

ion-select{
    min-width: 90%;
    color: #203057;
    margin-left: 5px;
    border-bottom: 1px solid #203057;
}


ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h {
    --padding-start: 10px;
}

ion-label{
    font-size: 14px;
}

ion-button{
    margin: 15px 0px 15px 0px;
}