    <ion-card>
      <img [src]="logo_empresa">
    </ion-card>
    <ion-label>
      <h2><ion-icon name="business"></ion-icon> {{razon_social}} </h2>
      <h2>RUC: {{ruc}} </h2>
    </ion-label>
    <ion-button fill="clear" size="small" style="float:right;" (click)="goPage()">Editar<ion-icon mode="md" name="create" slot="end"></ion-icon></ion-button>