ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
}

ion-content{
    --background: #eeeeee;
}

.card-contact-user{
    --background: #ffffff;
    border-radius: 15px;
    margin: 5px;
}

.card-contact-user p{
    font-size: 12px;
}

.card-producto{
    --background: #ffffff;
    border-radius: 5px;
    margin: 5px;
}

ion-item{
    --background: transparent;
}

ion-icon{
    font-size: 24px;
}

ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h{
  --padding-start: 10px;
}
  
ion-item.sc-ion-input-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-ios-h{
  --padding-start: 10px;
}

.input-contact{
    border-bottom: 1px dashed black;
}

ion-col{
    padding: 1px;
    text-align: left;
}

.input-stock{
    border: 1.5px solid #0067ae;
}

.extra-info{
    background: white;
    width: 100%;
    height: 50px;
}

ion-input[type=real]:before {
    content: "  S/.";
}