<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" mode="md" defaultHref="/menu/contable/ventas"></ion-back-button>
    </ion-buttons>
    <ion-title  color="light">CARRITO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center no-padding>

  <ion-card class="card-contact-user" *ngIf="code == '2' ">
    <p>Nota: Ingresa el RUC del cliente, luego selecciona la lupa, para verificar si lo tienes registrado</p>
    <ion-item lines="none">
      <ion-icon color="dark" name="card" item-left></ion-icon>
      <ion-input class="input-contact" type="number" [(ngModel)]="ruc" name="ruc" placeholder="Ingresa RUC del cliente"></ion-input>
      <ion-button color="medium" (click)="validarCliente()"><ion-icon color="light" name="search"></ion-icon></ion-button>
    </ion-item>

    <ion-item lines="none">
        <ion-icon color="dark" name="contact" item-left></ion-icon>
        <ion-input class="input-contact" type="number" [(ngModel)]="cliente" name="cliente" placeholder="Nombre del Cliente" readonly="true"></ion-input>
        <ion-button *ngIf="cliente != '' " fill="clear"><ion-icon color="tertiary" name="checkmark"></ion-icon></ion-button>
    </ion-item>

    <ion-button *ngIf="existeCliente == '0' " size="small"><ion-icon name="add" slot="start"></ion-icon>Agregar Cliente</ion-button>

  </ion-card>  
  <br>

      <ion-card class="card-producto" *ngFor="let item of listaCarrito" lines="none" no-padding>
        <ion-row>
          <ion-col size="4">
              <ion-img [src]="item.foto_pro ? item.foto_pro : '../../../assets/images/no_available.png'"></ion-img>
          </ion-col>
          <ion-col size="8">
            <ion-row>
              <ion-col>
                <ion-label>
                  <h2>{{item.nombre_pro}}</h2>
                  <h4>PV: S/.{{item.precio}}</h4>
                </ion-label>
              </ion-col>
              <ion-col>
                  <ion-label>
                    <h2>Cantidad</h2>
                    <h4>{{item.cantidad}}</h4>
                  </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="8">
                    <ion-label>
                        <h2>Total</h2>
                        <h4>S/. {{item.total}}</h4>
                    </ion-label> 
                </ion-col>
                <ion-col size="4">
                    <ion-button fill="clear" (click)="removeItem(item.producto)">
                      <ion-icon mode="md" color="medium" name="trash"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
          </ion-col>
          <!-- <ion-col size="5">
            
          </ion-col> -->
        </ion-row>
        <!-- <ion-row>
            
        </ion-row> -->
      </ion-card>

</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-icon name="cash"></ion-icon>
        <ion-input type="real" [(ngModel)]="monto_total" name="monto_total" readonly="true" disabled="true"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block"><ion-icon name="card" slot="start"></ion-icon>Pagar<ion-icon name="arrow-forward" slot="end"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
