<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/empresa"></ion-back-button>
      </ion-buttons>
      <ion-title>NUEVO SOCIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="travel-details-content">

          <ion-item lines="none">
            <ion-icon color="medium" name="contact" item-left></ion-icon>
            <ion-input [(ngModel)]="nombre_socio" placeholder="Ingrese Nombres y Apellidos"></ion-input>
          </ion-item>  

          <ion-item lines="none">
            <ion-icon color="medium" name="barcode" item-left></ion-icon>
            <ion-select [(ngModel)]="tdoc_socio" placeholder="Seleccione tipo de documento" interface="popover">
              <ion-select-option value="1">DNI</ion-select-option>
              <ion-select-option value="2">RUC</ion-select-option>
              <ion-select-option value="3">Carnet de Extranjeria</ion-select-option>
            </ion-select>
          </ion-item>  

          <ion-item lines="none">
            <ion-icon color="medium" name="card" item-left></ion-icon>
            <ion-input [(ngModel)]="ndoc_socio" placeholder="Ingrese número de documento"></ion-input>
          </ion-item>

          <ion-item lines="none">
              <ion-icon color="medium" name="call" item-left></ion-icon>
              <ion-input [(ngModel)]="telefono" placeholder="Ingrese telefono / celular" ></ion-input>
          </ion-item> 
          <ion-item lines="none">
              <ion-icon color="medium" name="mail" item-left></ion-icon>
              <ion-input [(ngModel)]="correo" placeholder="Ingrese correo" ></ion-input>
          </ion-item> 

      <ion-item lines="none">
          <ion-label>¿Tiene Empresa?</ion-label>
          <ion-toggle slot="end" [(ngModel)]="isToggled" (ionChange)="notify()" size="mini" mode="md"></ion-toggle>
       </ion-item>  

    <div *ngIf="showCard">
        <p>Información de la Empresa</p> 

        <ion-item lines="none">
              <ion-icon color="medium" name="podium" item-left></ion-icon>
              <ion-input [(ngModel)]="razon" placeholder="Ingrese razón social" ></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-icon color="medium" name="barcode" item-left></ion-icon>
            <ion-input [(ngModel)]="ruc" placeholder="Ingrese RUC" ></ion-input>
        </ion-item> 

        <ion-item lines="none">
            <ion-icon color="medium" name="pin" item-left></ion-icon>
            <ion-textarea rows="3" [(ngModel)]="direccion" placeholder="Ingrese dirección" ></ion-textarea>
        </ion-item>
      </div>     

</ion-content>

<ion-footer>
    <ion-button class="btn-guardar" expand="block" (click)="addSocio()">Registrar Socio</ion-button>
</ion-footer>
