<ion-content text-center no-padding fullscreen>
    <ion-img class="logo-img" src="../../assets/images/logo.png"></ion-img>

    
    <ion-item class="user-input" no-lines>
        <ion-icon color="light" name="contact" item-left></ion-icon>
        <ion-input type="text" [(ngModel)]="usuario" name="usuario" placeholder="Correo / Telefono"></ion-input>
    </ion-item>

    <ion-item class="pass-input" no-lines>
        <ion-icon color="primary" name="key" item-left></ion-icon>
        <ion-input [type]="passwordType" [(ngModel)]="clave" name="clave" placeholder="Contraseña"></ion-input>
        <ion-button fill="clear" (click)="hideShowPassword()"><ion-icon color="primary" name="eye-off" slot="end" [name]="passwordIcon" class="passwordIcon"></ion-icon></ion-button>
    </ion-item>

    <ion-item class="checkbox" lines="none">
        <ion-label>Mantener sesión iniciada</ion-label>
        <ion-checkbox color="primary" slot="start" [(ngModel)]="ischecked" checked="true" ></ion-checkbox>
    </ion-item>

    <a class="forgot-pass" (click)="goPage('/recoverpass')">Olvidé mi contraseña</a>
    <br><br><br><br>
    <ion-button class="btn-login" shape="round" (click)="login()">Entrar</ion-button>
    <br><br>

</ion-content>