     @media screen and (orientation: landscape) {
        ion-content {
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 100000;
          width:100%;
          --background: url('../../assets/images/login_background_h.png') no-repeat center center / cover ;
        }
      }
      
      @media screen and (orientation: portrait) {
        ion-content{
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 100000;
          width:100%; 
          --background: url('../../assets/images/login_background_v.png') no-repeat center center / cover;
        }
      }

    .logo-img{
        height: 150px !important;
        width: 150px !important;
        margin: auto;
        margin-top: 50px; 
        margin-bottom: 30px; 
    }

    ion-item{
      width: 70% !important;
      margin-left: 12% !important;
      border-radius: 50px;
      border:1px solid #0a2251;
      margin-bottom: 5px; 
    }

    .user-input{  
      color: white;
      --background: linear-gradient(to right, #253676, #0067ae);
      --border-radius:50px;
    }

    .pass-input{
      --border-radius:50px;
    }

    .checkbox{
      width: 100%;
      border:none;
      font-size:14px;
    }

    ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h{
      --padding-start: 10px;
    }

    ion-item.sc-ion-input-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-ios-h{
      --padding-start: 10px;
    }

    .forgot-pass{
      text-decoration: underline;
      font-size: 12px;
      color: black; 
      margin-left: 28%;
    }

    ion-button{
      font-size: 12px;
      margin-right: 5px;
    }

    .btn-login{
      float: right;
      --background: linear-gradient(to right, #253676, #0067ae);
    }

    .btn-register{
      float: right;
      color: #0a2251; 
    }
    