<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button color="light" mode="md" defaultHref="/menu/crece"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">REGISTRAR PROYECTO</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content text-center padding>

  <ion-item lines="none">
    <ion-input type="text" [(ngModel)]="proyecto" nombre="proyecto" placeholder="Nombre del Proyecto"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input type="tel" [(ngModel)]="ruc" nombre="ruc" placeholder="Ingrese RUC de su empresa"></ion-input>
  </ion-item>

  <ion-card (click)="seleccione()">
    <img [src]="foto ? foto : '../../../assets/images/camera.png' ">
    <p>Seleccione para agrega una imagen referencial</p> 
  </ion-card>

  <ion-item lines="none">
    <ion-textarea rows="3" [(ngModel)]="url_yt" nombre="url_yt" placeholder="Coloque aqui el link del video de youtube y luego de click en el botón con el ícono de youtube"></ion-textarea>
    <ion-button style="height:50px;" (click)="convertToEmbedYoutubeVideo()"><ion-icon name="logo-youtube" ></ion-icon></ion-button>
  </ion-item>

  <ion-item lines="none">
      <ion-textarea rows="3" [(ngModel)]="video" nombre="video" placeholder="Coloque aqui su link de Facebook, luego de click en botón para validar (opcional)"></ion-textarea>
      <ion-button style="height:50px;" (click)="validateFacebookUrl()"><ion-icon name="logo-facebook" ></ion-icon></ion-button>
    </ion-item>

  <ion-item lines="none">
    <ion-select [(ngModel)]="tipo_pro" placeholder="Seleccione el tipo de su proyecto" interface="action-sheet">
      <!-- <ion-select-option *ngFor="let tipo of listaTipoProyecto" [value]="tipo.id">{{ tipo.descripcion }}</ion-select-option> -->
    </ion-select> 
  </ion-item>

  <ion-item lines="none">
    <ion-textarea rows="6" maxlength="200" [(ngModel)]="descripcion_breve" nombre="descripcion" placeholder="Detalle brevemente proyecto (max 200 caracteres)"></ion-textarea>
  </ion-item>

  <ion-item lines="none">
      <ion-textarea rows="10" maxlength="3000" [(ngModel)]="descripcion_full" nombre="descripcion" placeholder="Detalle proyecto (max 3000 caracteres)"></ion-textarea>
  </ion-item>

  <ion-item lines="none">
    <ion-input style="font-weight: 500; font-size:16px;" type="real" [(ngModel)]="precio" nombre="precio" placeholder="Monto de inversión requerido"></ion-input>
  </ion-item>

  <ion-item lines="none">
      <ion-label>Acepta los terminos y condiciones</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="condiciones" checked="true" mode="md"></ion-checkbox>
   </ion-item>

  <ion-button expand="block" (click)="registrarOferta()">Registrar Proyecto</ion-button>

</ion-content>
