<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/perfil"></ion-back-button>
      </ion-buttons>
      <ion-title color="light">PERFIL</ion-title>
      <ion-buttons slot="end">
          <ion-button mode="ios" [disabled]="empresa == '1' " color="light" slot="icon-only" fill="outline" (click)="addEmpresa()"><ion-icon color="light" name="add"></ion-icon><ion-icon color="light" name="business"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="md" scrollable="true" [(ngModel)]="perfiles" (ionChange)="segmentChanged($event)">
      <ion-segment-button mode="md" layout="icon-bottom" value="socio">
        <ion-label color="light">Socio</ion-label>
        <ion-icon color="light" name="contact"></ion-icon>
      </ion-segment-button>
      <ion-segment-button *ngIf="empresa == '1' " mode="md" layout="icon-bottom" value="negocio">
        <ion-label color="light">Negocio</ion-label>
        <ion-icon color="light" name="business"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>

    <div [ngSwitch]="perfiles">

      <div *ngIf="perfiles == 'socio' ">
        <div class="blur-div" [ngStyle]="{'background': 'url('+fotoSocio+') no-repeat center center / cover'}"></div>
        
        <div class="content">
            <ion-card class="socio-foto" (click)="seleccione()">
                <img [src]="fotoSocio">
            </ion-card>

            <ion-fab vertical="top" horizontal="center" slot="fixed">
                <ion-fab-button size="small" (click)="seleccione()"><ion-icon name="camera"></ion-icon></ion-fab-button>
            </ion-fab>

            <ion-item lines="none">
              <ion-input type="text" [(ngModel)]="nomSocio" name="nomSocio" placeholder="Nombres y Apellidos"></ion-input>
            </ion-item>
        
            <ion-item lines="none">
              <ion-select [(ngModel)]="tipo_doc" placeholder="Seleccione tipo de documento">
                <ion-select-option value="1">DNI</ion-select-option>
                <ion-select-option value="2">RUC</ion-select-option>
                <ion-select-option value="3">Carnet de Extranjeria</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none">
              <ion-input type="number" [(ngModel)]="nro_doc" name="nro_doc" placeholder="Número de Documento"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-datetime [(ngModel)]="fecha_nac" picker-format="DD/MMM/YYYY" display-format="DD MMMM,YYYY" placeholder="Ingrese su fecha de nacimiento" month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" [doneText]="Ok" [cancelText]="Cancelar"></ion-datetime>
            </ion-item>

            <ion-item lines="none">
              <ion-input type="tel" [(ngModel)]="telefono" name="telefono" placeholder="Ingresa Telefono / Celular"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-input type="text" [(ngModel)]="correo" name="correo" placeholder="Ingresa Correo"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-textarea rows="4" [(ngModel)]="descripcion" name="descripcion" placeholder="Describa brevemente sus habilidades"></ion-textarea>
            </ion-item>

            <ion-button class="btn-guardar" ion-button expand="block" fill="outline" (click)="updateSocio()">Guardar Cambios</ion-button>

        </div>
    
        </div>    

      <div *ngIf="perfiles == 'negocio' ">

          <ion-item lines="none">
              <ion-input type="text" [(ngModel)]="razon_s" nombre="razon_s" placeholder="Razon Social de la Empresa"></ion-input>
            </ion-item>
          
            <ion-item lines="none">
              <ion-input type="tel" [(ngModel)]="ruc" nombre="ruc" placeholder="Ingrese RUC de su empresa"></ion-input>
            </ion-item>
          
            <ion-card class="negocio-foto" (click)="seleccione()">
              <img [src]="logoSocio ? logoSocio : '../../../assets/images/camera.png' ">
              <p>Seleccione para agregar el logo de su empresa</p> 
            </ion-card>

            <ion-item lines="none">
              <ion-select [(ngModel)]="tipo_negocio" placeholder="¿Que vendes?">
                <ion-select-option value="1">Productos</ion-select-option>
                <ion-select-option value="2">Servicios</ion-select-option>
                <ion-select-option value="3">Ambos</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none">
              <ion-select [(ngModel)]="tipo_rubro" placeholder="Rubro de tu empresa">
                <ion-select-option value="1">...</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none">
              <ion-input type="tel" [(ngModel)]="telefonoEmp" nombre="telefonoEmp" placeholder="Ingrese telefono de su negocio"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-input type="email" [(ngModel)]="correoEmp" nombre="correoEmp" placeholder="Ingrese el correo de su negocio"></ion-input>
            </ion-item>
          
            <ion-item lines="none">
                <ion-textarea rows="2" [(ngModel)]="web" nombre="web" placeholder="Ingrese su página web (opcional)"></ion-textarea>
            </ion-item>

            <ion-item lines="none">
              <ion-textarea rows="4" [(ngModel)]="direccionEmp" nombre="direccionEmp" placeholder="Domicilio de su empresa"></ion-textarea>
            </ion-item>
          
            <ion-button expand="block" (click)="updateSocio()">Guardar Cambios</ion-button>

      </div>

    </div>      

    </ion-content>