ion-toolbar{
    --background:linear-gradient(to right, #253676, #0067ae);
}

ion-content{
    --background: #eeeeee;
}

ion-segment-button{
    --color-activate: white;
    --color-checked: white;
}

h4{
    text-align: left;
    margin-left: 20px;
    font-size: 16px;
    color:#434594;
}

.blur-div{
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100% !important;
  height: 35vh;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content{
  position: relative;
  z-index: 999;
  left: 0;
  right: 0;
  margin-top: -35vh;
}

.socio-foto{
    --background: white;
    width: 149px;
    height: 149px;
    margin: 22px auto 12px auto;
    border-radius: 100%;
    overflow: hidden;
    z-index: 999;
}

.socio-foto img{
    width: 150px !important;
    height: auto;
}

ion-fab{
    margin-top: 85px;
    margin-left: 40px;
}

.tusocio-brand{
    width:70px;
    height:12px;
    float:right;
    margin-right:10px;
    margin-top:1px;
    opacity: 0.8;
}

.btn-edit-photo{
    margin-top: -10px;
    margin-bottom: 10px;
    margin:auto;
    text-align: center;
    font-size: 12px;
}

ion-item{
    --background:transparent;
  }
  
  /*Inputs*/
  ion-item.sc-ion-input-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-ios-h{
    --padding-start: 10px;
  }
  
  ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h{
    --padding-start: 10px;
  }
  /*Textarea*/
  ion-item.sc-ion-textarea-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-textarea-ios-h{
    --padding-start: 10px;
  }
  
  ion-item.sc-ion-textarea-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-textarea-md-h{
    --padding-start: 10px;
  }
  
  ion-input, ion-datetime{
    border-bottom: 1px solid gray;
    min-width: 90%;
    margin: 5px 5% 5px 5%;
  }
  
  ion-select{
    border-bottom: 1px solid gray;
    min-width: 90%;
    margin: 5px 5% 5px 5%;
  }
  
  ion-textarea{
    border: 0.5px solid gray;
    --background: white;
    margin: 5px 5% 5px 5%;
  }


//NEGOCIO

.negocio-foto{
    --background: white;
    height: 180px;
    margin: 12px 8px 12px 8px;
    border-radius: 15px;
}

.negocio-foto img{
    width: 100% !important;
    height: 100%;
    margin: auto;
}

.negocio-foto p{
  margin-top: -60px;
}










// .item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input{
//     padding-left: 10px;
// }

// ion-item{
//     --background: transparent;
// }

// ion-input, ion-select, ion-datetime{
//     width: 80%;
//     border-bottom: 1px solid gray;
//     margin: 0px 5% 0px 5%;
// }

// ion-select{
//     max-width: 90%;
// }

// ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h{
//     --padding-start: 10px;
// }

// ion-item.sc-ion-input-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-ios-h{
//     --padding-start: 10px;
// }

// .item-md.item-block{
//     margin-top: 10px;
// }

// .item-ios.item-block ion-input, ion-select, ion-textarea{
//     width: 98%;
//     margin-right: 5%;
//     border-bottom: 1px solid gray;
// }

// ion-textarea{
//     margin-top: 10px;
//     border-top: 1px solid gray;
//     border-left: 1px solid gray;
//     border-right: 1px solid gray;
//     padding: 5px;
//     margin-bottom: 10px;
// }

// .btn-guardar{
//     --background: linear-gradient(to right, #253676, #0067ae);
// }

// .card-header-ios-primary, .card-title-ios-primary, .card-content-ios-primary{
//     float: right;
//     margin-right: 20px;
//     margin-bottom: -15px;
//     color: #434594;
// }