<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light" defaultHref="/cotiza"></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRAR PETICIÓN</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" slot="icon-only"><ion-icon color="light" name="send"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <ion-item style="width: 98%;">
    <ion-label class='fixedLabel' position="fixed">De:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item style="width: 98%;">
      <ion-label class='fixedLabel' position="fixed">Para:</ion-label>
      <ion-input></ion-input>
  </ion-item>

  <ion-item style="width: 98%;">
      <ion-label class='fixedLabel' position="fixed">Asunto:</ion-label>
      <ion-input></ion-input>
  </ion-item>

  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button fill="clear" slot="icon-only"><ion-icon color="dark" name="images"></ion-icon></ion-button>
      <ion-button fill="clear" slot="icon-only"><ion-icon color="dark" name="link"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item no-padding>
    <ion-textarea rows="20" placeholder="Ingrese aqui su mensaje..."></ion-textarea>
  </ion-item>
  
</ion-content>
