  ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
  }

  ion-title{
    padding-left: 30px;
    font-size: 14px;
  }

  ion-input{
    font-size: 14px;
  }
    
  .fixedLabel {
    min-width: 17% !important;
    max-width: 17% !important;
    padding-left: 0px;
    font-size: 12px;
    float: right;
  }

  ion-textarea{
    padding-left: 15px;
  }

