<ion-header no-border>
  <ion-toolbar text-center>
    <ion-title>
      HOME
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="openOptions()"><ion-icon color="light" name="more" mode="md"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="categories-list">
        <ion-col class="category-item home-color" size="12" (click)="goPage('/empresa')">
          <app-image-shell [mode]="'cover'" class="category-cover add-spinner" [src]="'./assets/images/image_3.jpg'">
            <app-aspect-ratio [ratio]="{w:75, h:45}">
              <a class="category-anchor">
                <h2 class="category-title">Empresas</h2>
              </a>
            </app-aspect-ratio>
          </app-image-shell>
        </ion-col>
        <ion-col class="category-item home-color" size="12" (click)="goPage('/producto')">
          <app-image-shell [mode]="'cover'" class="category-cover add-spinner" [src]="'./assets/images/image_2.jpg'">
            <app-aspect-ratio [ratio]="{w:75, h:45}">
              <a class="category-anchor">
                <h2 class="category-title">Productos</h2>
              </a>
            </app-aspect-ratio>
          </app-image-shell>
        </ion-col>
        <ion-col class="category-item home-color" size="12" (click)="goPage('/perfil')">
          <app-image-shell [mode]="'cover'" class="category-cover add-spinner" [src]="'./assets/images/image_4.jpg'">
            <app-aspect-ratio [ratio]="{w:75, h:40}">
              <a class="category-anchor">
                <h2 class="category-title">Perfil</h2>
              </a>
            </app-aspect-ratio>
          </app-image-shell>
        </ion-col>
      </ion-row>

</ion-content>
