@import "../../theme/mixins/scrollbars";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);
  --page-border-radius: var(--app-fair-radius);

  --page-actions-padding: 5px;
  --page-friends-gutter: calc(var(--page-margin) / 2);
  --page-pictures-gutter: calc(var(--page-margin) / 2);

  app-image-shell.user-image {
    --image-shell-border-radius: var(--page-border-radius);
  }
  
  .user-name > app-text-shell {
    --text-shell-line-height: 20px;
    max-width: 50%;
  
    &.text-loaded {
      max-width: unset;
    }
  }
  
  .user-title > app-text-shell {
    --text-shell-line-height: 16px;
    max-width: 70%;
  
    &.text-loaded {
      max-width: unset;
    }
  }
  
  .user-membership > app-text-shell {
    --text-shell-line-color: rgba(var(--ion-color-secondary-rgb), 0.4);
    --text-shell-line-height: 14px;
    min-width: 30px;
  
    &.text-loaded {
      min-width: 0px;
    }
  }
  
  .stat-value > app-text-shell {
    --text-shell-line-height: 18px;
    max-width: 50%;
    margin: 0px auto;
  
    &.text-loaded {
      max-width: unset;
      margin: initial;
    }
  }
  
  .user-description > app-text-shell {
    --text-shell-line-height: 14px;
  }
  
  app-image-shell.friend-picture {
    --image-shell-border-radius: var(--page-border-radius);
  }
  
  .friend-name > app-text-shell {
    --text-shell-line-height: 14px;
  }
  
  app-image-shell.user-photo-image {
    --image-shell-border-radius: var(--page-border-radius);
  }
}

:host-context(.plt-mobile.md) {
    .user-details-section {
      .user-image-wrapper {
        max-width: 28%;
      }
    }
}

:host-context(.plt-mobile.ios) {
    .user-details-section {
      .user-image-wrapper {
        max-width: 30%;
      }
    }
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.user-details-section {
  --ion-grid-column-padding: 0px;

  margin: var(--page-margin);

  .user-image-wrapper {
    max-width: 26%;
  }

  .user-info-wrapper {
    padding-left: var(--page-margin);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;

    .user-data-row {
      padding-bottom: var(--page-margin);
      flex-wrap: nowrap;
      justify-content: space-between;

      .user-name {
        margin: 0px 0px 5px;
        font-size: 20px;
        letter-spacing: 0.5px;
      }

      .user-title {
        margin: 0px;
        color: var(--ion-color-medium);
        font-size: 16px;
      }

      .membership-col {
        padding-left: var(--page-margin);
        flex-grow: 0;
      }

      .user-membership {
        display: block;
        background-color: var(--ion-color-secondary);
        color: var(--ion-color-lightest);
        border-radius: var(--app-narrow-radius);
        padding: 4px 8px;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
      }
    }

    .actions-row {
      --ion-grid-columns: 10;
      --ion-grid-column-padding: var(--page-actions-padding);

      justify-content: space-between;
      flex-wrap: nowrap;
      margin-left: calc(var(--page-actions-padding) * -1);
      margin-right: calc(var(--page-actions-padding) * -1);

      .main-actions {
        flex-grow: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: calc(var(--page-actions-padding) * -1);
        margin-right: calc(var(--page-actions-padding) * -1);
        display: flex;

        .call-to-action-btn {
          padding: 0px var(--page-actions-padding);
          margin: 0px;
        }
      }

      .secondary-actions {
        flex-grow: 0;
        padding-top: 0px;
        padding-bottom: 0px;

        .more-btn {
          --padding-start: 4px;
          --padding-end: 4px;

          margin: 0px;
        }
      }
    }
  }
}

.accommodations-wrapper {
  padding: 0px;
  padding-top: calc(var(--page-margin) / 2);
  border-bottom: 1px solid var(--ion-color-light-shade);
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);

  .accommodation-row {
    --ion-grid-column-padding: 0px;

    align-items: center;

    & + .accommodation-row {
      padding-top: calc(var(--page-margin) / 2);
    }

    .icon-wrapper {
      display: flex;
      align-items: center;
      flex-grow: 0;
      padding-right: 10px;
    }

    .accommodation-icon {
      font-size: 22px;
      color: var(--ion-color-medium-shade);
    }

    .accommodation-name {
      display: block;
      font-size: 12px;
      color: var(--ion-color-medium-tint);
    }

    .accommodation-value {
      display: block;
      font-size: 14px;
      color: var(--ion-color-medium-tint);
    }
  }
}

.user-stats-section {
  --ion-grid-column-padding: 0px;

  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: var(--page-margin);
  border-bottom: 1px solid var(--ion-color-light-shade);

  .user-stats-wrapper {
    text-align: center;

    .stat-value {
      display: block;
      padding-bottom: 5px;
      color: var(--ion-color-dark-shade);
      font-weight: 500;
      font-size: 18px;
    }

    .stat-name {
      font-size: 16px;
      color: var(--ion-color-medium);
    }
  }
}

.details-section-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--ion-color-dark-tint);
  margin: 0px 0px var(--page-margin);
}

.user-about-section {
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: var(--page-margin);
  border-bottom: 1px solid var(--ion-color-light-shade);

  .user-description {
    color: var(--ion-color-dark-shade);
    text-align: justify;
    margin: var(--page-margin) 0px;
    font-size: 14px;
    line-height: 1.3;
  }
}

.user-friends-section {
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: var(--page-margin);
  border-bottom: 1px solid var(--ion-color-light-shade);

  .heading-row {
    margin-bottom: var(--page-margin);
    justify-content: space-between;
    align-items: center;

    .details-section-title {
      margin: 0px;
    }

    .heading-call-to-action {
      padding: calc(var(--page-margin) / 2) calc(var(--page-margin) / 4);
      text-decoration: none;
      color: var(--ion-color-secondary);
    }
  }

  .friends-row {
    --ion-grid-columns: 7; // We want to show three friends and a half. Each friend fills 2 cols => (3.5 * 2 = 7 cols)
    --ion-grid-column-padding: 0px;

    flex-wrap: nowrap;
    overflow-x: scroll;
    will-change: scroll-position;
    margin-left: calc(var(--page-margin) * -1);
    margin-right: calc(var(--page-margin) * -1);

    @include hide-scrollbars();

    &::before,
    &::after {
      content: '';
      // .friend-item has 8px of side padding, we need an extra 4px at the beginning and end to fill the 12px side margin of the view
      flex: 0 0 calc(var(--page-margin) - var(--page-friends-gutter));
    }

    .friend-item {
      padding: 0px var(--page-friends-gutter);

      .friend-name {
        display: block;
        text-align: center;
        margin: var(--page-margin) 0px;
        font-size: 14px;
      }
    }
  }
}

.user-photos-section {
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: calc(var(--page-margin) * 2);

  .heading-row {
    margin-bottom: var(--page-margin);
    justify-content: space-between;
    align-items: center;

    .details-section-title {
      margin: 0px;
    }

    .heading-call-to-action {
      padding: calc(var(--page-margin) / 2) calc(var(--page-margin) / 4);
      text-decoration: none;
      color: var(--ion-color-secondary);
    }
  }

  .pictures-row {
    --ion-grid-columns: 4;
    --ion-grid-column-padding: 0px;

    margin: 0px calc(var(--page-pictures-gutter) * -1);

    .picture-item {
      padding: 0px var(--page-pictures-gutter) calc(var(--page-pictures-gutter) * 2);
    }
  }
}
