<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/oferta/detalle"></ion-back-button>
        </ion-buttons>
      <ion-title>SOCIO</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="user-profile-content">
      <ion-row class="user-details-section">
        <ion-col class="user-image-wrapper">
          <app-aspect-ratio [ratio]="{w: 3, h: 2}">
            <app-image-shell class="user-image add-spinner" [src]="socioFoto"></app-image-shell>
          </app-aspect-ratio>
        </ion-col>
        <ion-col class="user-info-wrapper">
          <ion-row class="user-data-row">
            <ion-col size="9">
              <h3 class="user-name">
                <app-text-shell class="no-animation" [data]="empresa"></app-text-shell>
              </h3>
              <h5 class="user-title">
                <app-text-shell class="no-animation" [data]="empresario"></app-text-shell>
              </h5>
              <h5 class="user-title">
                <app-text-shell class="no-animation" [data]="ruc"></app-text-shell>
              </h5>
            </ion-col>
          </ion-row>
          <ion-row class="actions-row">
              <ion-col class="main-actions">
                <ion-button class="call-to-action-btn" size="small" color="primary">Agregar a contactos<ion-icon name="star" slot="start"></ion-icon></ion-button>
              </ion-col>
              <ion-col class="secondary-actions">
                <ion-button class="more-btn" size="small" fill="clear" color="primary" (click)="openMenu()">
                  <ion-icon slot="icon-only" name="more" mode="md"></ion-icon>
                </ion-button>
              </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="user-stats-section">
        <ion-col class="user-stats-wrapper" size=" 3">
          <span class="stat-value">
            <app-text-shell [data]="likes" class="no-animation"></app-text-shell>
          </span>
          <span class="stat-name">Calificación</span>
        </ion-col>
        <ion-col class="user-stats-wrapper" size=" 3">
          <span class="stat-value">
            <app-text-shell [data]="followers" class="no-animation"></app-text-shell>
          </span>
          <span class="stat-name">Socios</span>
        </ion-col>
        <ion-col class="user-stats-wrapper" size=" 3">
          <span class="stat-value">
            <app-text-shell [data]="following" class="no-animation"></app-text-shell>
          </span>
          <span class="stat-name">Productos</span>
        </ion-col>
      </ion-row>
      <div class="user-about-section">
        <h3 class="details-section-title">Breve descripción</h3>
        <p class="user-description">
          <app-text-shell [data]="descripcion" [attr.lines]="4"></app-text-shell>
        </p>
      </div>
      <div class="accommodations-wrapper">
          <h3 class="details-section-title">Información extra:</h3>
          <ion-row class="accommodation-row">
            <ion-col class="icon-wrapper">
              <ion-icon class="accommodation-icon" name="call"></ion-icon>
            </ion-col>
            <ion-col size="2.5">
              <span class="accommodation-name">Telefono</span>
            </ion-col>
            <ion-col size="7.5">
              <span class="accommodation-value" (click)="callSocio()">
                <app-text-shell [data]="telefono" class="no-animation"></app-text-shell>
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="accommodation-row">
            <ion-col class="icon-wrapper">
              <ion-icon class="accommodation-icon" name="mail"></ion-icon>
            </ion-col>
            <ion-col size="2.5">
              <span class="accommodation-name">Correo</span>
            </ion-col>
            <ion-col size="7.5">
              <span class="accommodation-value" (click)="sendEmail()">
                <app-text-shell [data]="correo" class="no-animation"></app-text-shell>
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="accommodation-row">
            <ion-col class="icon-wrapper">
              <ion-icon class="accommodation-icon" name="pin"></ion-icon>
            </ion-col>
            <ion-col size="2.5">
              <span class="accommodation-name">Direccion</span>
            </ion-col>
            <ion-col size="7.5">
              <span class="accommodation-value">
                <app-text-shell [data]="direccion" class="no-animation"></app-text-shell>
              </span>
            </ion-col>
          </ion-row>
          <ion-row class="accommodation-row">
            <ion-col class="icon-wrapper">
              <ion-icon class="accommodation-icon" name="at"></ion-icon>
            </ion-col>
            <ion-col size="2.5">
              <span class="accommodation-name">Web</span>
            </ion-col>
            <ion-col size="7.5">
              <span class="accommodation-value" (click)="openWeb()">
                <app-text-shell [data]="web" class="no-animation"></app-text-shell>
              </span>
            </ion-col>
          </ion-row>
        </div>
      <div class="user-friends-section">
        <ion-row class="heading-row">
          <h3 class="details-section-title">Ofertas</h3>
          <a class="heading-call-to-action">Ver todo</a>
        </ion-row>
        <ion-row class="friends-row">
          <ion-col class="friend-item" size="2" *ngFor="let friend of  friends">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="friend-picture" [src]="friend.image"></app-image-shell>
            </app-aspect-ratio>
            <span class="friend-name">
              <app-text-shell [data]="friend.name" class="no-animation"></app-text-shell>
            </span>
          </ion-col>
        </ion-row>
      </div>
  
    </ion-content>
    
  