ion-toolbar{
  --background: linear-gradient(to right, #253676, #0067ae);
  color: white;
}

ion-content{
  --background: #e9e9e9;
}

ion-card{
  border-radius: 10px;
}

//ALL OFERTAS
.masonry-layout{
  column-count: 2;
  column-gap: 8px;
  padding: 8px;
}

.masonry-content{
  background-color: #fff;
  display: inline-block;
  // margin: 0 0 1em;
  margin: 0px 0px 8px 0px;
  width: 100%;
}

.content-padding{
  margin-top: -5px;
  padding:0px 5px 0px 10px;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}

.producto-foto{
    min-height: initial;
}

.producto-nombre{
    font-weight: bolder;
    font-family: Helvetica;
    font-size: 16px;
    margin: 5px 5px 5px 5px;
}

.producto-descripcion{
    font-weight: 200px;
    font-family: Helvetica;
    font-size: 12px;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-lines: 3;
}

.card-categoria{
  height: 100%;
  background: linear-gradient(to right, #253676, #0067ae);
  border-radius: 35px;
  margin: 1px;
}

ion-segment-button{
  --color-activate: white;
  --color-checked: white;
}

ion-button{
  --background: linear-gradient(to right, #253676, #0067ae);
}

.imgcategoria{
  width: 50% !important;
  margin: auto;
  overflow-y: hidden;  
}

h5{
   font-weight: 200;
   font-size: 14px;
   letter-spacing: 1px;
   color: white;
   margin: -5px 0px 0px 0px;
}

.alert-input.sc-ion-alert-md{
  border-radius: 30px;
  border: 1px solid #253676;
  padding: 10px;
}

.alert-button-inner.sc-ion-alert-md{
  border-radius: 30px;
  background: #253676;
  color: white;
  margin: 0px;
}

.mofertas{
  margin: 6px 6px 4px 6px;
  border-radius: 0px;
}

.imofertas{
  padding-left: 0px;
  --background: white;
}

item-native{
  padding-inline-start: 5px;
}

.thofertas{
  width: 100px;
  height: 75px;
  margin-right: 10px;
}

.imgofertas{
  width: 100px;
}

