<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/home" mode="md"></ion-back-button>
        </ion-buttons>
      <ion-title style="padding: 0px;" color="light">SELECCIONE CATEGORÍA</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-segment mode="md" scrollable="true" [(ngModel)]="opciones" (ionChange)="segmentChanged($event)">
        <ion-segment-button mode="md" layout="icon-top" value="oferta">
          <ion-label color="light">Ofertas</ion-label>
          <ion-icon color="light" name="pricetags"></ion-icon>
        </ion-segment-button>
        <ion-segment-button mode="md" layout="icon-top" value="mis_ofertas">
          <ion-label color="light">Mis Ofertas</ion-label>
          <ion-icon color="light" name="pricetag"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content text-center no-padding>
  <div [ngSwitch]="opciones">

    <div *ngIf="opciones == 'oferta' ">

        <div>
            <ion-toolbar>
                <ion-segment style="height: 28px;" mode="md" scrollable="true" [(ngModel)]="seleccion" (ionChange)="segmentChanged2($event)">
                  <ion-segment-button mode="md" layout="icon-top" value="todo">
                    <ion-icon color="light" mode="md" name="list"></ion-icon>
                  </ion-segment-button>
                  <ion-segment-button mode="md" layout="icon-top" value="categoria">
                    <ion-icon color="light" mode="md" name="apps"></ion-icon>
                  </ion-segment-button>
                </ion-segment>
            </ion-toolbar>
        </div>  
      
        <div [ngSwitch]="seleccion">
      
           <div *ngIf="seleccion == 'todo' "> 

              <div *ngIf="listaOferta.length != '0' " class="masonry-layout">
          
                  <div class="masonry-content" *ngFor="let oferta of listaOferta">
        
                    <div (click)="goDetailMisOfertas(oferta.idOferta)">
                      <img [src]="oferta.foto"  />      
                      <div class="content-padding">
                        <p class="producto-nombre">{{oferta.producto}}</p>
                        <p class="producto-descripcion">{{oferta.descripcion}}</p>
                      </div>
                    </div>  
        
                  </div>
        
             </div>


           </div>
           
           <div *ngIf="seleccion == 'categoria' "> 

              <ion-row>
                  <ion-col *ngFor="let categoria of listaCategorias" size="6" (click)="goPage(categoria.idCat)">
                    <ion-card class="card-categoria">
                        <img class="imgcategoria" [src]="categoria.image">
                        <h5>{{categoria.titulo}}</h5>
                    </ion-card>
                  </ion-col>
            
                  <ion-col size="12" (click)="goPage('9')">
                      <ion-button expand="block" shape="round">Otros</ion-button>  
                  </ion-col>
                </ion-row>

           </div>

        </div>   

    </div>

    <div *ngIf="opciones == 'mis_ofertas' ">

      <ion-list class="mofertas" >
        <ion-item-sliding *ngFor="let oferta of listaMisOfertas">
  
            <ion-item-options side="start">
                <ion-item-option color="danger" mode="ios" type="button" slot="icon-only" (click)="deleteItem(oferta.idOferta, oferta.producto)">
                  <ion-icon color="light" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
  
          <ion-item class="imofertas" lines="none" detail (click)="goDetailMisOfertas(oferta.idOferta)">
              <ion-thumbnail class="thofertas" slot="start">
                <img class="imgofertas" [src]="oferta.foto">
              </ion-thumbnail>
              <ion-label>
                <h2>{{oferta.producto}}</h2>
                <p>{{oferta.descripcion}}</p>
              </ion-label>
          </ion-item>   
  
          <ion-item-options side="end">
              <ion-item-option color="secondary" mode="ios" type="button" slot="icon-only">
                  <ion-icon color="light" mode="md" name="create"></ion-icon>
                </ion-item-option>
          </ion-item-options>
  
        </ion-item-sliding>   
      </ion-list>
  
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addOferta()"><ion-fab-button color="secondary" size="small"><ion-icon name="add"></ion-icon></ion-fab-button></ion-fab>

    </div>

  </div>  
  </ion-content>
  