<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/menu/contable"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Ingresos y Egresos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item lines="none">
      <ion-label position="floating"> Seleccione Periodo </ion-label>
      <ion-select interface="popover">
          <ion-select-option value="1"> Anual </ion-select-option>
          <ion-select-option value="2"> Mensual </ion-select-option>
          <ion-select-option value="3"> Diario </ion-select-option>
      </ion-select>
    </ion-item>

    <div class="row">
      <div class="col-md-6">
        <div style="display: block;">
        <canvas baseChart width="300" height="400"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
       </canvas>
        </div>
      </div>
    </div>

    <ion-grid>
        <ion-row>
          <ion-col size="6">
            Total de Ingresos :
          </ion-col>

          <ion-col size="6">
            Porcentaje :
          </ion-col>
        </ion-row>
    </ion-grid>
 
  </ion-content>
