<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" mode="md" defaultHref="/menu/contable"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">SELECCION DE PRODUCTO</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="light" mode="ios" animated="true" placeholder="Busca producto x nombre"></ion-searchbar>
  </ion-toolbar>  
  </ion-header>

<ion-content text-center no-padding>
  
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let producto of ListaProductos" class="wobble" size="6">
        <ion-card>
          <div class="img-portrait">
           <img class="img-producto" [src]="producto.foto ? producto.foto : '../../../assets/images/no_available.png' ">
          </div>
          <ion-label>
            <p>{{producto.nombre}}</p>
            <h2>S/.{{producto.precio_v}}</h2>
          </ion-label>
          <ion-button color="primary" size="small" (click)="chooseQuantity(producto.id, producto.cantidad, producto.nombre)"><ion-icon color="light" mode="md" name="cart"></ion-icon> Agregar al carrito</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-button expand="block" shape="round" (click)="gotoPay()"><ion-icon mode="ios" name="basket" slot="start"></ion-icon>Comprar</ion-button>
</ion-footer>
