ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
}

ion-title{
    padding: 0px;  
}

ion-col{
    padding: 2px;
}

ion-card{
    margin: 2px;
    --background: white;
}

ion-label{
    --background: white;
}

ion-content{
    --background: #eeeeee;
}

.img-portrait{
    width: 100% !important;
    height: 20vh;
    --background: white;
}

.img-producto{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin-top: 5px;  
}

.wobble {
    animation: wobble linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}