<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/producto"></ion-back-button>
    </ion-buttons>
    <ion-title>PLAN {{plan}}</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content text-center no-padding>
  <div class="uldiv-card">
    <h3>{{descripcion}}</h3>

    <h5>S/. {{precio}}</h5>

    <br>

    <ul>
      <li *ngFor="let beneficio of listaBeneficios"> {{beneficio.titulo}} </li>
    </ul>
  </div>
  </ion-content>
