<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button mode="md" color="light" defaultHref="/menu/contable"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="tipo == '1' " color="light">PRODUCTOS</ion-title>
    <ion-title *ngIf="tipo == '2' " color="light">SERVICIOS</ion-title>
    <ion-title *ngIf="tipo == '3' " color="light">PRODUCTOS & SERVICIOS</ion-title>
    <ion-buttons slot="end">
        <ion-button *ngIf="tipo != '2' " color="light" slot="icon-only" fill="outline" (click)="goKardex()">Inventario<ion-icon slot="end" color="light" src="../../../assets/icon/kardex.svg"></ion-icon></ion-button>
        <!-- <ion-button color="light" slot="icon-only" fill="outline" (click)="negocioDetalle($event)"><ion-icon color="light" name="information-circle"></ion-icon><ion-icon color="light" name="business"></ion-icon></ion-button> -->
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar color="medium" type="text" mode="ios" placeholder="Buscar" animated></ion-searchbar>
</ion-header>

<ion-content no-padding>

  <ion-list>
    <ion-item *ngFor="let producto of listaProductos" lines="none" (click)="irDetalle(producto.id)" detail>
      <ion-thumbnail item-left>
        <ion-img [src]="producto.foto"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{producto.nombre}}</h2>
        <h3><ion-icon color="medium" name="cart"></ion-icon> {{producto.cantidad}}</h3>
        <h3><ion-icon color="medium" name="barcode"></ion-icon> {{producto.codigo}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button size="small"><ion-icon name="add"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary" [disabled]="tipo == '2'" (click)="goPage('/menu/contable/inventario/registro')"><ion-icon src="../../../assets/icon/product.svg"></ion-icon></ion-fab-button>
      <ion-fab-button color="secondary" [disabled]="tipo == '1'" (click)="goPage('/menu/contable/inventario/servicio')"><ion-icon src="../../../assets/icon/service.svg"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
