ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
}

ion-back-button{
    width: 25px;
}

ion-title{
    padding: 0px 0px 0px 20px;
    text-align: left;
    font-size: 16px;
}

ion-content{
    --background:#eeeeee;
}

ion-searchbar{
    background: #eeeeee;
}

ion-item{
    margin: 2px 5px 0px 5px;
    border-radius: 5px;
    padding: 2px;
}

ion-thumbnail{
    width: 110px;
    height: 80px;
}

h3{
    margin-left: 5px;
}