<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>MI PERFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center no-padding>

      <ion-card (click)="seleccione()">
        <img [src]="fotoVendedor ? fotoVendedor : '../../../assets/images/camera.png' ">
      </ion-card>

      <ion-button fill="clear" (click)="seleccione()" style="margin-top:-10px;">Editar<ion-icon mode="md" name="create" slot="end"></ion-icon></ion-button>

      <ion-item lines="none">
        <ion-icon color="medium" name="contact" item-left></ion-icon>
        <ion-input type="text" [(ngModel)]="nombre" nombre="nombre" placeholder="Nombres & Apellidos"></ion-input>
      </ion-item>

      <ion-item lines="none">
          <ion-icon color="medium" name="card" item-left></ion-icon>
          <ion-select [(ngModel)]="tipo_doc" placeholder="Seleccione tipo de documento">
            <ion-select-option value="1">DNI</ion-select-option>
            <ion-select-option value="2">RUC</ion-select-option>
            <ion-select-option value="3">Carnet de Extranjeria</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-item lines="none">
          <ion-icon color="medium" name="barcode" item-left></ion-icon>
          <ion-input type="number" [(ngModel)]="nro_doc" name="nro_doc" placeholder="Número de Documento"></ion-input>
      </ion-item>

      <ion-item lines="none">
          <ion-icon color="medium" name="card" item-left></ion-icon>
          <ion-select [(ngModel)]="sexo" placeholder="Seleccione género">
            <ion-select-option value="F">Femenino</ion-select-option>
            <ion-select-option value="M">Masculino</ion-select-option>
          </ion-select>
      </ion-item>
    
      <ion-item lines="none">
          <ion-icon color="medium" name="calendar" item-left></ion-icon>
          <ion-datetime [(ngModel)]="fecha_nac" picker-format="DD/MMM/YYYY" display-format="DD MMMM,YYYY" placeholder="Ingrese su fecha de nacimiento"
          month-names="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre" [doneText]="Ok" [cancelText]="Cancelar"></ion-datetime>
      </ion-item>

      <ion-item lines="none">
          <ion-icon color="medium" name="mail" item-left></ion-icon>
          <ion-input type="mail" [(ngModel)]="correo" nombre="correo" readonly="true"></ion-input>
      </ion-item>

      <ion-item lines="none">
          <ion-icon color="medium" name="contact" item-left></ion-icon>
          <ion-input type="tel" [(ngModel)]="telefono" nombre="telefono" placeholder="Ingrese número de celular"></ion-input>
      </ion-item>

      <ion-item lines="none">
          <ion-icon color="medium" name="build" item-left></ion-icon>
          <ion-textarea rows="4" [(ngModel)]="habilidades" nombre="habilidades" placeholder="Describa brevemente sus habilidades"></ion-textarea>
      </ion-item>

      <ion-button expand="block" (click)="updateVendedor()">Guardar</ion-button>

</ion-content>
