ion-toolbar{
  --background: linear-gradient(to right, #253676, #0067ae);
  color: white;
}

ion-title{
  padding: 5px;
}

ion-content{
  --background: #eeeeee;
}

ion-card{
  --background: white;
  width: 149px;
  height: 149px;
  margin: 12px auto 12px auto;
  border-radius: 100%;
  overflow: hidden;
}

img{
  width: 150px !important;
  height: auto;
}

ion-item{
  --background:transparent;
}

/*Inputs*/
ion-item.sc-ion-input-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-ios-h{
  --padding-start: 10px;
}

ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h{
  --padding-start: 10px;
}
/*Textarea*/
ion-item.sc-ion-textarea-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-textarea-ios-h{
  --padding-start: 10px;
}

ion-item.sc-ion-textarea-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-textarea-md-h{
  --padding-start: 10px;
}

ion-input, ion-datetime{
  border-bottom: 1px solid #8299eb;
  margin: 10px 0px 10px 0px;
  min-width: 90%;   
}

ion-select{
  border-bottom: 1px solid #8299eb;
  margin: 10px 0px 10px 0px;
  min-width: 90%;
}

ion-textarea{
  border: 0.5px solid #8299eb;
  margin: 10px 0px 10px 0px;
  --background: white;
}

ion-footer{
--background: transparent;
--ion-color-base: transparent !important;
}