ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
}

ion-content{
    --background: url("../../../assets/images/premium.jpeg") no-repeat center center / cover;
}

h3{
    text-align: left;
    font-style: Helvetica;
    font-weight: 600;
}

h5{
  text-align: left;
  font-size: 28px;
  font-style: Helvetica;
  font-weight: 600;
}

.uldiv-card{
    background:rgba(255, 255, 255, 0.70);
    margin: 20px 60px 0px 10px;
    padding: 10px 0px 80px 20px;
    border-radius: 15px;
}

ul > li{
    text-align: left;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 15px;
}

ion-button{
    --background:linear-gradient(to right, #253676, #0067ae);
}