<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/mejora"></ion-back-button>
      </ion-buttons>
      <ion-title>PLAN {{plan}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-content text-center no-padding>
    <!--<div [ngStyle]="{'background': 'url(../../assets/images/premium.jpeg) no-repeat center center / cover'}">-->
    <div class="uldiv-card">
      <h3>{{descripcion}}</h3>

      <h5>S/. {{precio}}</h5>

      <br>

      <ul>
        <li *ngFor="let beneficio of listaBeneficios"> {{beneficio.titulo}} </li>
      </ul>
    </div>
    <!--</div>-->
    </ion-content>
    <ion-footer>
      <ion-button expand="block" (click)="buyPlan(cod_plan)">¡LO QUIERO!</ion-button>
    </ion-footer>
