<ion-header no-border>
    <ion-toolbar>
        <ion-title>EQUIPO</ion-title>
        <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/perfil"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
    
</ion-header>

<ion-content class="contact-card-content">
    <ion-row class="user-details-wrapper">
      <ion-col size="4">
        <app-aspect-ratio [ratio]="{w: 1, h: 1}">
          <app-image-shell class="user-avatar add-spinner" [src]="foto_miembro"></app-image-shell>
        </app-aspect-ratio>
      </ion-col>
      <ion-col class="user-info-wrapper" size="8">
        <h3 class="user-name">{{nombre}}</h3>
        <h5 class="user-handle">{{puesto}}</h5>
      </ion-col>
      <ion-col size="12">
        <h4 class="preference-name">Sobre mí:</h4>
        <p class="user-bio">
          {{habilidades}}
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="user-preferences-wrapper">
      <ion-col size="12">
        <h4 class="preference-name">Telefono</h4>
        <a (click)="callMiembro(telefono)">
          <p class="preference-value">
            {{telefono}}
          </p>
        </a>
      </ion-col>
      <ion-col size="12">
        <h4 class="preference-name">Correo</h4>
        <a (click)="sendEmail(correo)">
          <p class="preference-value">
            {{correo}}
          </p>
        </a>
      </ion-col>
      <ion-col size="12">
        <h4 class="preference-name">Dirección</h4>
        <p class="preference-value">
          {{direccion}}
        </p>
      </ion-col>
    </ion-row>
  </ion-content>