<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button><ion-icon color="primary" name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title color="primary">Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  
  <ion-item class="mode1" no-lines>
      <ion-icon color="medium" name="contact" item-left></ion-icon>
      <ion-input type="text" [(ngModel)]="usuario" name="usuario" placeholder="Correo / Telefono"></ion-input>
  </ion-item>

  <ion-item class="mode1" no-lines>
      <ion-icon color="medium" name="key" item-left></ion-icon>
      <ion-input [type]="passwordType" [(ngModel)]="clave" name="clave" placeholder="Contraseña"></ion-input>
      <ion-button fill="clear" (click)="hideShowPassword()"><ion-icon color="medium" name="eye-off" slot="end" [name]="passwordIcon" class="passwordIcon"></ion-icon></ion-button>
  </ion-item>

  <ion-item class="mode2" lines="none">
    <ion-label>Mantener sesión iniciada</ion-label>
    <ion-checkbox mode="md" color="primary" slot="start" [(ngModel)]="ischecked" checked="true" ></ion-checkbox>
  </ion-item>

  <ion-button color="primary" fill="clear" (click)="goPage('/recoverypass')">¿Olvidé mi contraseña?</ion-button>
  <ion-button class="btn-login" size="small" (click)="login()">Entrar</ion-button>

</ion-content>
