<ion-content text-center no-padding fullscreen>
  <ion-img class="logo-img" src="../../assets/images/logo.png"></ion-img>

  
  <ion-item class="user-input" no-lines>
      <ion-icon color="light" name="mail" item-left></ion-icon>
      <ion-input type="text" [(ngModel)]="correo" name="correo" placeholder="Ingrese Correo"></ion-input>
  </ion-item>

  <br><br>
  <ion-button class="btn-login" shape="round">Enviar</ion-button>
  <br><br><br>
  <ion-button class="btn-back" color="medium" shape="round" size="small" (click)="goBack()"><ion-icon name="arrow-back"></ion-icon></ion-button>
  

</ion-content>
