ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
}

ion-title{
    padding: 0px;
}

ion-segment-button{
    --color-activate: white;
    --color-checked: white;
}

ion-grid{
    width: 33.3%;
    margin: 0px;
    display: -webkit-inline-box;
    
}

ion-col{
    flex: none;
    width: 100%;
    max-width: 100%;
}

.producto-nombre{
    font-size: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.producto-precio{
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.col-header{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background:#253676;
    color: white;
}

.col-blank{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.col-item{
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.producto-nombre-listado{
    font-size: 13px;
    font-weight: 400px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    background: white;
    left: 0;
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 15px;
    padding-top: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-family: Helvetica;
}

.producto-descripcion-listado{
    font-size: 12px;
    color: black;
    padding-left: 10px;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    left: 0;
    float: right;
    border-radius: 15px;
    margin-top: 135px;
    margin-right: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-family: Helvetica;
}

ion-card{
    width: 100%;
    height: 180px;
    margin: 10px 0px 0px 0px;
}