<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>MEJORA TU EMPRESA</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="md" scrollable="true" [(ngModel)]="mejoras" (ionChange)="segmentChanged($event)">
      <ion-segment-button mode="md" layout="icon-top" value="servicio">
        <ion-label color="light">Servicios</ion-label>
        <ion-icon color="light" name="cog"></ion-icon>
      </ion-segment-button>
      <ion-segment-button mode="md" layout="icon-top" value="plan">
        <ion-label color="light">Planes</ion-label>
        <ion-icon color="light" name="bookmarks"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
<div [ngSwitch]="mejoras">

  <div *ngIf="mejoras == 'servicio' "> 
    
    

  </div>  

  <div *ngIf="mejoras == 'plan' ">  

  <div>
      <ion-toolbar>
          <ion-segment style="height: 28px;" mode="md" scrollable="true" [(ngModel)]="opciones" (ionChange)="segmentChanged2($event)">
            <ion-segment-button mode="md" layout="icon-top" value="listado">
              <ion-icon color="light" mode="md" name="list"></ion-icon>
            </ion-segment-button>
            <ion-segment-button mode="md" layout="icon-top" value="comparativo">
              <ion-icon color="light" mode="md" name="analytics"></ion-icon>
            </ion-segment-button>
          </ion-segment>
      </ion-toolbar>
  </div>  

  <div [ngSwitch]="opciones">

     <div *ngIf="opciones == 'listado' "> 

          <ion-card *ngFor="let plan of listaPlan" [ngStyle]="{'background': 'url(' + plan.foto + ') no-repeat center center / cover'}" (click)="irDetalle(plan.idPlan, plan.plan, plan.descripcion)">
            <h2 class="producto-nombre-listado">PLAN {{plan.descripcion}}</h2>
            <h5 class="producto-descripcion-listado" (click)="irDetalle(plan.idPlan, plan.plan, plan.descripcion)">Ver más</h5>    
          </ion-card>

     </div> 

     <div *ngIf="opciones == 'comparativo' "> 
       
        <ion-grid class="grid-comparativo">
          <ion-row>
            <ion-col>
              <ion-row>
                  <ion-col class="col-header" text-center>
                    <p class="producto-nombre">Paquete básico</p>
                    <h5 class="producto-precio">S/.250 1 año</h5>
                  </ion-col>
              </ion-row>
              <ion-row *ngFor="let item of listaItems">
                  <ion-col class="col-item" *ngIf="item.plan == '1' " text-center><p class="producto-nombre">{{item.descripcion}}</p></ion-col>
              </ion-row>
              <ion-row>
                  <ion-col style="border-top: 1px solid black" text-center><ion-button size="small" expand="full">Lo quiero</ion-button></ion-col>
              </ion-row>   
            </ion-col>  
          </ion-row>  
        </ion-grid>

        <ion-grid>
            <ion-row>
              <ion-col>
                <ion-row>
                    <ion-col class="col-header" text-center>
                      <p class="producto-nombre">Paquete premium</p>
                      <h5 class="producto-precio">S/.500 1 año</h5>
                    </ion-col>
                </ion-row>    
                <ion-row *ngFor="let item of listaItems">
                    <ion-col class="col-item" *ngIf="item.plan == '2' " text-center><p class="producto-nombre">{{item.descripcion}}</p></ion-col>
                </ion-row> 
                <ion-row>
                  <ion-col style="border-top: 1px solid black" text-center><ion-button size="small" expand="full">Lo quiero</ion-button></ion-col>
                </ion-row>
              </ion-col>  
            </ion-row>  
        </ion-grid>
          
        <ion-grid>
            <ion-row>
              <ion-col>
                <ion-row>
                    <ion-col class="col-header" text-center>
                      <p class="producto-nombre">Paquete VIP</p>
                      <h5 class="producto-precio">S/.3,500 1 año</h5>
                    </ion-col>
                </ion-row>    
                <ion-row *ngFor="let item of listaItems">
                    <ion-col class="col-item" *ngIf="item.plan == '3' " text-center><p class="producto-nombre">{{item.descripcion}}</p></ion-col>
                </ion-row>
                <ion-row>
                    <ion-col style="border-top: 1px solid black" text-center><ion-button size="small" expand="full">Lo quiero</ion-button></ion-col>
                </ion-row>
              </ion-col>  
            </ion-row>  
        </ion-grid>
    
      </div> 

    </div>

  </div>

</div>

</ion-content>
