<ion-app>
  <ion-split-pane>
    <ion-menu side="end" type="push" swipe-gesture="true" menuId="menuTS" (click)="getDataUser()">
      <ion-header class="menu-header" no-border>
        <div text-center class="info-container"> 
          <div class="logo-container">
            <img class="logo-menu" [src]="logosocio ? logosocio : '../assets/images/logo_foto.png' ">
          </div>
          <p><b>{{razon}}</b></p>
        </div>
        <div class="fecha_venc">
          <p>Vencimiento del plan: {{fecha_venc}}</p>
        </div>
    </ion-header>
     
      <ion-content class="no-scroll">
    
              <ion-item-divider>
                  MI INFORMACIÓN
              </ion-item-divider>
              <ion-list class="list-menu" no-lines>
                <ion-item (click)="openPage('/perfil')" lines="none" detail><ion-icon color="light" name="contact" item-left></ion-icon><ion-label color="light"> Perfil</ion-label></ion-item>
                <ion-item (click)="openPage('/plan')" lines="none" detail><ion-icon color="light" name="book" item-left></ion-icon><ion-label color="light">Plan</ion-label></ion-item>
                <ion-item (click)="openPage('/favoritos')" lines="none" detail><ion-icon color="light" mode="ios" name="contacts" item-left></ion-icon><ion-label color="light">Mis contactos</ion-label></ion-item>
              </ion-list>
              <ion-item-divider>
                CONTACTO
              </ion-item-divider>
              <ion-list no-lines>
                <ion-item (click)="shareIt()" lines="none" detail><ion-icon color="light" name="share" item-left></ion-icon><ion-label color="light">Compartir</ion-label></ion-item>
                <ion-item (click)="openPage('/acerca')" lines="none" detail><ion-icon color="light" name="information-circle" item-left></ion-icon><ion-label color="light">Acerca De</ion-label></ion-item>
                <ion-item (click)="logOut()" lines="none" detail><ion-icon color="light" name="log-out" item-left></ion-icon><ion-label color="light">Salir</ion-label></ion-item>
              </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
