ion-toolbar{
  --background: linear-gradient(to right, #253676, #0067ae);
  color: white;
}

ion-content{
  --background: #eeeeee;
}

ion-segment-button{
  --color-activate: white;
  --color-checked: white;
}

ion-card{
  margin: 5px;
  padding: 5px;
  --background: white;
}

ion-avatar{
  width: 60px;
  height: 60px;
}

ion-label{
  padding-left: 0px;
}

.item-allproject{
  border-bottom: 1.5px solid #eeeeee;
  margin-bottom: 10px;
  padding: 0px 0px 10px 0px;
}

.item-selfproject{
  border-radius: 5px;
  background: white;
  margin: 5px;
}

ion-button{
  float: right;
}