<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" mode="md" defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">CY CRECE</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="proyectos == 'proyecto'" color="light" fill="outline" slot="icon-only" routerLink="/menu/crece/tutorial" routerDirection="forward">
        <ion-icon color="light" mode="ios" name="information-circle-outline"></ion-icon>
        <ion-icon color="light" name="cash"></ion-icon>
      </ion-button>
      <ion-button *ngIf="proyectos == 'mi_proyecto'" color="light" fill="outline" slot="icon-only" routerLink="/menu/crece/tutorial" routerDirection="forward">
        <ion-icon color="light" mode="ios" name="information-circle-outline"></ion-icon>
        <ion-icon color="light" name="bulb"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
      <ion-segment mode="md" scrollable="true" [(ngModel)]="proyectos" (ionChange)="segmentChanged($event)">
        <ion-segment-button mode="md" layout="icon-bottom" value="proyecto">
          <ion-label color="light">Proyectos</ion-label>
          <ion-icon color="light" name="briefcase"></ion-icon>
        </ion-segment-button>
        <ion-segment-button mode="md" layout="icon-bottom" value="mi_proyecto">
          <ion-label color="light">Mis Proyectos</ion-label>
          <ion-icon color="light" name="bulb"></ion-icon>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

    <div [ngSwitch]="proyectos">

        <div *ngIf="proyectos == 'proyecto' "> 
          
          <ion-searchbar mode="ios" animated="true" placeholder="Buscar..." [(ngModel)]="searchTerm" (ionChange)="searchList()"></ion-searchbar>

          <ion-card *ngFor="let proyecto of listaAllProjects" (click)="goDetail(proyecto.idProyecto)">
            <ion-item class="item-allproject" lines="none" no-padding detail>
              <ion-avatar slot="start">
                <ion-img [src]="proyecto.logo"></ion-img>
              </ion-avatar>
              <ion-label>
                <h4>{{proyecto.nombre}}</h4>
                <p>{{proyecto.fecha}}</p>
              </ion-label>
            </ion-item>

            <img [src]="proyecto.portada">

            <h4>{{proyecto.titulo}}</h4>
            <p>{{proyecto.descripcion_breve}}</p>


            <ion-button style="float: left;" fill="clear"><ion-icon color="medium" slot="start" mode="ios" name="star"></ion-icon>{{proyecto.interesados}}</ion-button>
            <ion-button *ngIf="proyecto.url_youtube != '' " fill="outline" size="small" slot="icon-only"><ion-icon style="color:red;" name="logo-youtube"></ion-icon></ion-button>
            <ion-button *ngIf="proyecto.url_facebook  != '' " fill="outline" size="small" slot="icon-only"><ion-icon style="color:#3b5998;" name="logo-facebook"></ion-icon></ion-button>
            
          </ion-card>
      
        </div>  
      
        <div *ngIf="proyectos == 'mi_proyecto' ">  

            <ion-item class="item-selfproject" lines="none" *ngFor="let proyecto of listaSelfProjects" detail>
              <ion-thumbnail slot="start">
                <img [src]="proyecto.portada">
              </ion-thumbnail>
              <ion-label>
                <h5>{{proyecto.titulo}}</h5>
                <p>{{proyecto.fecha}}</p>
              </ion-label>
            </ion-item>

            <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="addProyecto()"><ion-fab-button color="secondary" size="small"><ion-icon name="add"></ion-icon></ion-fab-button></ion-fab>

        </div>
        
    </div>    

</ion-content>
