<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/menu/tabs/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Escanner</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content text-center no-padding>

  <ion-button (click)="scan()">Escannear codigo eleven</ion-button>

</ion-content>