<ion-header>
    <ion-toolbar>
        <ion-title>REGISTRAR EQUIPO</ion-title>
        <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/perfil"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content text-center padding>

        <ion-item lines="none">
            <ion-icon color="medium" name="contact" item-left></ion-icon>
            <ion-input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombres & Apellidos"></ion-input>
        </ion-item> 
    
        <ion-item lines="none">
            <ion-icon color="medium" name="card" item-left></ion-icon>
            <ion-select [(ngModel)]="tipo_documento" name="tipo_documento" placeholder="Seleccione tipo de documento" okText="Hecho" cancelText="Cancelar">
              <ion-select-option value="1">DNI</ion-select-option>
              <ion-select-option value="2">RUC</ion-select-option>
              <ion-select-option value="3">Carnet de Extranjeria</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item lines="none">
            <ion-icon color="medium" name="card" item-left></ion-icon>
            <ion-input type="number" [(ngModel)]="nro_documento" name="nro_documento" placeholder="Ingrese número de documento"></ion-input>
        </ion-item> 

        <ion-item lines="none">
            <ion-icon color="medium" name="call" item-left></ion-icon>
            <ion-input type="tel" [(ngModel)]="telefono" name="telefono" placeholder="Ingrese teléfono / celular"></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-icon color="medium" name="mail" item-left></ion-icon>
            <ion-input type="correo" [(ngModel)]="correo" name="correo" placeholder="Ingrese correo"></ion-input>
        </ion-item>

        <ion-item lines="none">
            <ion-icon color="medium" name="key" item-left></ion-icon>
            <ion-input type="password" [(ngModel)]="clave" name="clave" placeholder="Ingrese clave"></ion-input>
        </ion-item>
    
  
  </ion-content>

  <ion-footer>
    <ion-button class="btn-guardar" expand="block" (click)="registrar()">REGISTRAR</ion-button>
  </ion-footer>
