ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
}

ion-select{
    width: 91%;
    height: 37px;
    margin-left: 3.5%;
    border-radius: 12px;
    background:#E9E9E9;
    font-size: 14px;
    color: black;
}

ion-content{
    --background: #e9e9e9;
}

.expanded-image img {
  min-height: initial;
}

.list-ios, .list-md {
 margin-bottom: 0px; 
}

.item-ios, .item.md {
padding-left: 10px;
}

.masonry-layout{
  column-count: 2;
  column-gap: 8px;
  padding: 8px;
}

.masonry-content{
  background-color: #fff;
  display: inline-block;
  // margin: 0 0 1em;
  margin: 0px 0px 8px 0px;
  width: 100%;
}

.content-padding{
  margin-top: -5px;
  padding:0px 5px 0px 10px;
  background: white;
  border: 1px solid white;
  border-radius: 10px;
}

.producto-foto{
    min-height: initial;
}

.producto-nombre{
    font-weight: bolder;
    font-family: Helvetica;
    font-size: 16px;
    margin: 5px 5px 5px 5px;
}

.producto-descripcion{
    font-weight: 200px;
    font-family: Helvetica;
    font-size: 12px;
    margin: 5px 5px 5px 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-lines: 3;
}

// .producto-nombre{
//     width: 200px;
//     font-weight: 400;
//     font-size: 13px;
//     letter-spacing: 1px;
//     color: black;
//     padding: 5px 10px 5px 10px;
//     margin-top: 50px;
//     background: white;
//     left: 0;
//     position: absolute;
//     margin-left: -1px;
//     margin-right: 10px;
//     margin-top: 20px;
//     border-radius: 15px;
//     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
//     font-family: 'Helvetica';
//     z-index: 100;
// }

// .oferta-space{
//     width: 45%;
//     height: 145px;
//     background: rgba(255, 255, 255, 0.85);
//     border-radius: 5px;
//     margin: 0px 0px 0px 0px;
//     z-index: 1;

//     .oferta{
//         text-align: center;
//         font-size: 14px;
//         font-weight: bold;
//         margin-top: 35px;
//         margin-bottom: -55px;
//         padding-top: 30px;
//         font-style: 'Helvetica';
//     }

//     .monto{
//         text-align: center;
//         font-size: 16px;
//         font-weight: 300;
//         margin-top: 50px;
//         margin-bottom: -55px;
//         padding-top: 10px;
//     }
// }

// .producto-descripcion{
//     font-size: 14px;
//     color: black;
//     padding-left: 10px;
//     background: white;
//     padding-left: 10px;
//     padding-right: 10px;
//     left: 0;
//     float: right;
//     border-radius: 15px;
//     margin-top: -30px;
//     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
//     font-family: 'Helvetica';
// }

ion-card{
    background-color: #fff;
    display: inline-block;
    margin: 0px 0px 8px 0px;
    width: 100%;
}

ion-button{
    --background: linear-gradient(to right, #253676, #0067ae);
}