<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light" defaultHref="/menu/home"></ion-back-button>
        </ion-buttons>
        <ion-title>OFERTAS</ion-title>
        <ion-buttons slot="end">
           <ion-icon color="light" name="search" mode="md" slot="start" (click)="isToggle()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>

    <ion-toolbar color="medium" class="filter-toolbar" *ngIf="showFilters">
      <ion-searchbar placeholder="Buscar producto" animated mode="ios" [(ngModel)]="cadena"></ion-searchbar>
      <ion-button color="primary" size="small" slot="end" (click)="busqueda()"><ion-icon name="add" slot="start"></ion-icon>Filtrar</ion-button>
    </ion-toolbar> 

</ion-header>

<ion-content no-padding>

    <div *ngIf="listaOferta.length == '0' ">
      <ion-card style="background: #E03F1D;color: white;padding: 10px;width: 90%;margin: 10px 5% 0px 5%;">No hay información disponible</ion-card>
    </div>

    <div *ngIf="listaOferta.length != '0' " class="masonry-layout">
          
          <div class="masonry-content" *ngFor="let oferta of listaOferta">

            <div (click)="irDetalle(oferta.idOferta)">
              <img [src]="oferta.foto"  />      
              <div class="content-padding">
                <p class="producto-nombre">{{oferta.producto}}</p>
                <p class="producto-descripcion">{{oferta.descripcion}}</p>
              </div>
            </div>  

          </div>

     </div>  
    
</ion-content>
