<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="light" mode="md" defaultHref="/menu/contable/carrito"></ion-back-button>
      </ion-buttons>
      <ion-title  color="light">PAGAR</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content text-center no-padding>
  
  </ion-content>
