<ion-content class="animated bounceIn delay-1s">

  <video id="videoBg" autoplay loop src="../../assets/video/ts.mp4"></video>

   <ion-toolbar class="footer-toolbar">
    <ion-buttons slot="start">
      <ion-button color="light" fill="clear" (click)="callSignUp()">¿No tienes cuenta?</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" fill="solid" (click)="callLogin()">Iniciar sesión <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
