video {
  position: fixed;
  top: 50%;
  left: 50.5%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
}

.footer-toolbar{
  --background: rgba(0,0,0,0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
}

ion-button{
  font-size: 12px;
}