ion-toolbar{
  --background: linear-gradient(to right, #253676, #0067ae);
  color: white;
}

ion-row{
    margin-top: 15%;
}

ion-card{
  height: 100%;
  background: linear-gradient(to right, #253676, #0067ae);
  border-radius: 25px;
  margin: 1px;
}

img{
  width: 80% !important;
  margin-left: 10%;
  margin-top: -10px;
  overflow-y: hidden;  
}

h5{
   font-weight: 200;
   font-size: 14px;
   letter-spacing: 1px;
   color: white;
   margin: -20px 0px 10px 0px;
}

.alert-input.sc-ion-alert-md{
  border-radius: 30px;
  border: 1px solid #253676;
  padding: 10px;
}

.alert-button-inner.sc-ion-alert-md{
  border-radius: 30px;
  background: #253676;
  color: white;
}