<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button color="light" defaultHref="/menu/home"></ion-back-button>
      </ion-buttons>
    <ion-title color="light">TU SOCIO CONTABLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center no-padding>
   
  <ion-row>
    <ion-col *ngFor="let opcion of listaOpciones" size="6" (click)="goPage(opcion.pagina)">
      <ion-card>
          <img [src]="opcion.image">
          <h5>{{opcion.titulo}}</h5>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
