<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light" defaultHref="/menu/contable/inventario"></ion-back-button>
    </ion-buttons>
    <ion-title>DETALLE PRODUCTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card class="negocio-foto" (click)="seleccione()">
        <img [src]="fotoProducto ? fotoProducto : '../../../assets/images/camera.png' ">
        <p>Agregue la imagen del producto</p> 
      </ion-card>

      <ion-item lines="none">
        <ion-input type="text" [(ngModel)]="nombre" nombre="nombre" placeholder="Nombre del producto"></ion-input>
      </ion-item>
    
      <ion-item lines="none">
        <ion-input type="text" [(ngModel)]="marca" nombre="marca" placeholder="Marca del producto"></ion-input>
      </ion-item>
    
      <ion-item lines="none">
        <ion-textarea rows="2" [(ngModel)]="codigoBarra" nombre="codigoBarra" placeholder="Registre el codigo de barras dando click en el botón"></ion-textarea>
        <ion-button (click)="getbarCode()"><ion-icon name="barcode"></ion-icon></ion-button>
      </ion-item>

      <ion-item lines="none">
        <ion-input style="min-width: 30%;" type="tel" [(ngModel)]="stock" nombre="stock" placeholder="Stock"></ion-input>
        <ion-input style="min-width: 50%;" type="text" [(ngModel)]="uni_med" nombre="uni_med" placeholder="Unidad de medida"></ion-input>
      </ion-item>

      <ion-item lines="none">
          <ion-input type="number" [(ngModel)]="precio_c" nombre="precio_u" placeholder="Ingrese el costo x unidad"></ion-input>
      </ion-item>

      <ion-item lines="none">
          <ion-input type="number" [(ngModel)]="precio_v" nombre="precio_m" placeholder="Ingrese el precio de venta"></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-textarea rows="4" [(ngModel)]="observaciones" nombre="observaciones" placeholder="Observaciones del producto (opcional)"></ion-textarea>
      </ion-item>
    
      <ion-button expand="block" (click)="addProducto()">GUARDAR CAMBIOS</ion-button>


</ion-content>
