ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
}

ion-title{
    padding: 5px;
}

ion-content{
    --background:#eeeeee;
}

ion-item{
    --background:transparent;
  }
  
  /*Inputs*/
  ion-item.sc-ion-input-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-ios-h{
    --padding-start: 10px;
  }
  
  ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h{
    --padding-start: 10px;
  }
  /*Textarea*/
  ion-item.sc-ion-textarea-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-textarea-ios-h{
    --padding-start: 10px;
  }
  
  ion-item.sc-ion-textarea-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-textarea-md-h{
    --padding-start: 10px;
  }
  
  ion-input, ion-datetime{
    border-bottom: 1px solid gray;
    min-width: 90%;
    margin: 5px 5% 5px 5%;
  }
  
  ion-select{
    border-bottom: 1px solid gray;
    min-width: 90%;
    margin: 5px 5% 5px 5%;
  }
  
  ion-textarea{
    border: 0.5px solid gray;
    --background: white;
    margin: 5px 5% 5px 5%;
}

ion-input[type=number]:before {
    content: "  S/.";
}

//NEGOCIO

.negocio-foto{
  --background: white;
  height: 180px;
  margin: 12px 8px 12px 8px;
  border-radius: 15px;
}

.negocio-foto img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

.negocio-foto p{
  text-align: center;  
  margin:auto;
}

