<ion-content fullscreen>
  <ion-toolbar>
    <p style="color:white; margin: 0px 0px 0px 10px;" (click)="checkData()">{{nombreSocio}}<ion-icon mode="md" name="arrow-dropdown"></ion-icon></p>
    <ion-buttons slot="end">
      <ion-button color="light" fill="clear" slot="icon-only" (click)="goMap()"><ion-icon mode="md" name="share"></ion-icon></ion-button>
      <ion-button color="light" fill="clear" slot="icon-only" (click)="showMenu($event)"><ion-icon mode="md" name="contact"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid>
      <ion-row>
          <ion-col *ngFor="let categoria of listaCategorias" size="4">
            <ion-button class="drop-in" style="height:auto; width: 110px;" fill="clear" [disabled]="HourOfDay == 'tarde' ">
              <ion-item lines="none">
                <ion-row>
                  <ion-col size="12">
                  <ion-avatar>
                      <img [src]="categoria.imagen">
                  </ion-avatar>
                  </ion-col>
                  <ion-col size="12">
                    <p *ngIf=" HourOfDay == 'tarde' " style="margin-top: 5px;">Zzzzz</p>
                    <p *ngIf=" HourOfDay != 'tarde' " style="margin-top: 5px;">{{ categoria.descripcion }}</p>
                  </ion-col>
                </ion-row>
              </ion-item> 
            </ion-button>
          </ion-col>
        </ion-row>
  </ion-grid>


</ion-content>