ion-content{
  --background: linear-gradient(to right, #253676, #0067ae);
}

ion-toolbar{
  --background: transparent !important;
}

ion-button{
  font-size: 22px;
  padding: 0px
}

ion-grid{
  margin-top: 20px;
}

ion-item{
  --background: transparent;
  display: inline-block;
  vertical-align: top;
  align-items: center;
}

ion-avatar{
  width: 90px;
  height: 90px;
  align-items: center;
  margin: auto;
}

img{
  width: 100%;
  height: auto;
  align-items: center;
  object-fit: contain;
}
    
p{
  color:white;
  font-size: 18px;
  font-family: Roboto;
  text-align: center;
  font-weight: 500;
}

ion-col{
  width: 90px;
  padding: 0px;
}

.bounce {
  animation: bounce linear 0.8s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

.shake {
  animation: shake linear 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

.drop-in {
  animation: drop_in 0.5s 0.0625s cubic-bezier(0.43, 1.6, 0.57, 0.88) forwards !important;
}

// #map_canvas {
//   width: 90%;
//   height: 80%;
//   border: 1px solid red;
// }

#map_canvas {
  width: 100%;
  height: 90%;
}