<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button mode="md" color="light" defaultHref="/menu/contable/inventario"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">REGISTRAR SERVICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

      <ion-card class="negocio-foto" (click)="seleccione()">
        <img [src]="fotoServicio ? fotoServicio : '../../../assets/images/camera.png' ">
        <p>Agregue la imagen del servicio</p> 
      </ion-card>

      <ion-item lines="none">
        <ion-input type="text" [(ngModel)]="titulo" nombre="titulo" placeholder="Nombre del servicio"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-textarea rows="6" [(ngModel)]="descripcion" nombre="descripcion" placeholder="Descripcion del servicio"></ion-textarea>
      </ion-item>

      <ion-item lines="none">
        <ion-input type="number" [(ngModel)]="precio" nombre="precio" placeholder="Ingrese el precio"></ion-input>
      </ion-item>
    
      <ion-button expand="block" (click)="addProducto()">REGISTRAR SERVICIO</ion-button>

</ion-content>
