<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light" defaultHref="/cotiza"></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRAR PETICIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>

  <ion-item lines="none">
    <ion-label position="floating">Titulo</ion-label>
    <ion-input type="text" ([ngModel])="titulo" name="titulo" ></ion-input>
  </ion-item>

  <ion-item lines="none">
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea type="text" rows="6" ([ngModel])="descripcion" name="descripcion"></ion-textarea>
  </ion-item>

  <ion-item lines="none">
      <ion-label position="floating">Rubro</ion-label>
      <ion-select ([ngModel])="rubro" name="rubro">
        <ion-select-option value="">Seleccione</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-item lines="none">
      <ion-label position="floating">Especialidad</ion-label>
      <ion-select ([ngModel])="especialidad" name="especialidad">
        <ion-select-option value="">Seleccione</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-button style="float: right;" color="secondary" shape="round">Siguiente <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>

</ion-content>
