  ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
  }
    
  ion-content{
    --background: #eeeeee;
  }

  ion-input, ion-select{
    border-bottom: 1px solid #0067ae;
  }

  ion-textarea{
    border: 1px solid #0067ae;
  }

  ion-button{
    margin-top: 20px;
  }