<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>PERFIL</ion-title>
    <ion-buttons slot="end">
      <ion-icon color="light" name="create" mode="md" (click)="goPage('/perfil/detalle')" slot="start"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="user-profile-content">
  <ion-row class="user-details-section">
    <ion-col class="user-image-wrapper">
      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell class="user-avatar add-spinner" [src]="foto_usuario"></app-image-shell>
      </app-aspect-ratio>
    </ion-col>
    <ion-col class="user-info-wrapper">
      <ion-row class="user-data-row">
        <ion-col size="9">
          <h4 class="user-name">
            <app-text-shell class="no-animation" [data]="nombre"></app-text-shell>
          </h4>
          <h5 class="user-title">
            <app-text-shell class="no-animation" [data]="puesto"></app-text-shell>
          </h5>
        </ion-col>
        <ion-col class="membership-col">
          <span class="user-membership">
            <app-text-shell [data]="cargo" class="no-animation"></app-text-shell>
          </span>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="user-stats-section">
    <ion-col class="user-stats-wrapper" size="4">
      <span class="stat-value">
        <app-text-shell [data]="fecha" class="no-animation"></app-text-shell>
      </span>
      <span class="stat-name">Fecha</span>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="4">
        <span class="stat-value">
          <app-text-shell [data]="afiliaciones" class="no-animation"></app-text-shell>
        </span>
        <span class="stat-name">Afiliaciones</span>
    </ion-col>
    <ion-col *ngIf=" cargo == 'Lider' " class="user-stats-wrapper" size="4">
      <span class="stat-value">
        <app-text-shell [data]="equipo" class="no-animation"></app-text-shell>
      </span>
      <span class="stat-name">Afiliadores</span>
    </ion-col>
  </ion-row>
  <div class="user-about-section">
    <h3 class="details-section-title">Sobre mí:</h3>
    <p class="user-description">
      <app-text-shell [data]="habilidades" [attr.lines]="4"></app-text-shell>
    </p>
  </div>

  <div *ngIf="cargo == 'Lider' || cargo == 'Administrador' " class="user-friends-section">
    <ion-row class="heading-row">
      <h3 class="details-section-title">Equipo</h3>
      <a *ngIf="cargo == 'Lider' " class="heading-call-to-action" (click)="addAfiliador(tipo)">Agregar Afiliador</a>
      <a *ngIf="cargo == 'Administrador' " class="heading-call-to-action" (click)="addAfiliador(tipo)">Agregar Lideres</a>
    </ion-row>
      <ion-row class="friends-row">
        <ion-col class="friend-item" size="2" *ngFor="let equipo of equipoData">
          <div (click)="detalleMiembroEquipo(equipo.id)">
          <app-aspect-ratio [ratio]="{w: 1, h: 1}">
            <app-image-shell class="friend-picture add-spinner" [src]="equipo.foto ? equipo.foto : '../../assets/images/logo.png' "></app-image-shell>
          </app-aspect-ratio>
          <span class="friend-name">
            <app-text-shell [data]="equipo.nombre" class="no-animation"></app-text-shell>
          </span>
          </div>
        </ion-col>
      </ion-row>
  </div>

  <div *ngIf="cargo == 'Afiliador' ">
  <ion-row class="user-details-section">
      <ion-col class="user-image-wrapper">
        <app-aspect-ratio [ratio]="{w: 1, h: 1}">
          <app-image-shell class="user-image add-spinner" [src]="foto_lider"></app-image-shell>
        </app-aspect-ratio>
      </ion-col>
      <ion-col class="user-info-wrapper">
        <ion-row class="user-data-row">
          <ion-col size="9">
            <h4 class="user-name">
              <app-text-shell class="no-animation" [data]="nombre_lider"></app-text-shell>
            </h4>
            <h5 class="user-title">
              <app-text-shell class="no-animation" [data]="puesto_lider"></app-text-shell>
            </h5>
          </ion-col>
          <ion-col class="membership-col">
            <span class="user-membership">
              <app-text-shell [data]="cargo_lider" class="no-animation"></app-text-shell>
            </span>
          </ion-col>
        </ion-row>
        <ion-row class="actions-row">
          <ion-col class="main-actions">
            <ion-button class="call-to-action-btn" size="small" color="secondary" (click)="sendMessage(numero_lider)"><ion-icon slot="start" name="mail"></ion-icon>Contactar</ion-button>
            <ion-button class="call-to-action-btn" size="small" color="medium" (click)="makeCall(numero_lider)"><ion-icon slot="start" name="call" ></ion-icon>Llamar</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    </div>

</ion-content>
