@import "../../theme/mixins/scrollbars.scss";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);
  --page-border-radius: var(--app-fair-radius);

  --page-actions-padding: 5px;
  --page-friends-gutter: calc(var(--page-margin) / 2);
  --page-pictures-gutter: calc(var(--page-margin) / 2);

  app-image-shell.user-avatar {
    --image-shell-border-radius: 5%;
    --image-shell-spinner-color: var(--ion-color-light);
  }
}

ion-toolbar{
  --background: linear-gradient(to right, #253676, #0067ae);
  color: white;
}

// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.user-details-section {
  --ion-grid-column-padding: 0px;

  margin: var(--page-margin);

  .user-image-wrapper {
    max-width: 26%;
  }

  .user-info-wrapper {
    padding-left: var(--page-margin);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;

    .user-data-row {
      padding-bottom: var(--page-margin);
      flex-wrap: nowrap;
      justify-content: space-between;

      .user-name {
        margin: 0px 0px 5px;
        font-size: 18px;
        letter-spacing: 0.5px;
      }

      .user-title {
        margin: 0px;
        color: var(--ion-color-medium);
        font-size: 16px;
      }

      .membership-col {
        margin-left: -18px;
        flex-grow: 0;
      }

      .user-membership {
        display: block;
        background-color: #0067ae;
        color: #ffffff;
        border-radius: var(--app-narrow-radius);
        padding: 4px 8px;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
      }
    }

    .actions-row {
      --ion-grid-columns: 10;
      --ion-grid-column-padding: var(--page-actions-padding);

      justify-content: space-between;
      flex-wrap: nowrap;
      margin-left: calc(var(--page-actions-padding) * -1);
      margin-right: calc(var(--page-actions-padding) * -1);

      .main-actions {
        flex-grow: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: calc(var(--page-actions-padding) * -1);
        margin-right: calc(var(--page-actions-padding) * -1);
        display: flex;

        .call-to-action-btn {
          padding: 0px var(--page-actions-padding);
          margin: 0px;
        }
      }

      .secondary-actions {
        flex-grow: 0;
        padding-top: 0px;
        padding-bottom: 0px;

        .more-btn {
          --padding-start: 4px;
          --padding-end: 4px;

          margin: 0px;
        }
      }
    }
  }
}

.user-stats-section {
  --ion-grid-column-padding: 0px;

  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: var(--page-margin);
  border-bottom: 1px solid var(--ion-color-light-shade);

  .user-stats-wrapper {
    text-align: center;

    .stat-value {
      display: block;
      padding-bottom: 5px;
      color: var(--ion-color-dark-shade);
      font-weight: 500;
      font-size: 18px;
    }

    .stat-name {
      font-size: 16px;
      color: var(--ion-color-medium);
    }
  }
}

.details-section-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--ion-color-dark-tint);
  margin: -20px 0px 0px 0px;
}

.user-about-section {
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: var(--page-margin);
  border-bottom: 1px solid var(--ion-color-light-shade);

  .user-description {
    color: var(--ion-color-dark-shade);
    text-align: justify;
    margin: var(--page-margin) 0px;
    font-size: 14px;
    line-height: 1.3;
  }
}

.user-friends-section {
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: var(--page-margin);
  border-bottom: 1px solid var(--ion-color-light-shade);

  .heading-row {
    margin: -20px 0px 0px 0px;
    justify-content: space-between;
    align-items: center;

    .details-section-title {
      margin: 0px;
    }

    .heading-call-to-action {
      padding: calc(var(--page-margin) / 2) calc(var(--page-margin) / 4);
      text-decoration: none;
      color: #0067ae;
    }
  }

  .friends-row {
    --ion-grid-columns: 7; // We want to show three friends and a half. Each friend fills 2 cols => (3.5 * 2 = 7 cols)
    --ion-grid-column-padding: 0px;

    flex-wrap: nowrap;
    overflow-x: scroll;
    will-change: scroll-position;
    margin-left: calc(var(--page-margin) * -1);
    margin-right: calc(var(--page-margin) * -1);

    @include hide-scrollbars();

    &::before,
    &::after {
      content: '';
      // .friend-item has 8px of side padding, we need an extra 4px at the beginning and end to fill the 12px side margin of the view
      flex: 0 0 calc(var(--page-margin) - var(--page-friends-gutter));
    }

    .friend-item {
      padding: 10px;

      .friend-name {
        display: block;
        text-align: center;
        margin: var(--page-margin) 0px;
        font-size: 14px;
      }
    }
  }
}

.user-photos-section {
  margin: calc(var(--page-margin) * 2) var(--page-margin) var(--page-margin);
  padding-bottom: calc(var(--page-margin) * 2);

  .heading-row {
    margin-bottom: var(--page-margin);
    justify-content: space-between;
    align-items: center;

    .details-section-title {
      margin: 0px;
    }

    .heading-call-to-action {
      padding: calc(var(--page-margin) / 2) calc(var(--page-margin) / 4);
      text-decoration: none;
      color: var(--ion-color-secondary);
    }
  }

  .pictures-row {
    --ion-grid-columns: 4;
    --ion-grid-column-padding: 0px;

    margin: 0px calc(var(--page-pictures-gutter) * -1);

    .picture-item {
      padding: 0px var(--page-pictures-gutter) calc(var(--page-pictures-gutter) * 2);
    }
  }
}
