<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/oferta" ></ion-back-button>
    </ion-buttons>
    <ion-title>REGISTRAR OFERTA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>

  <ion-item lines="none">
    <ion-input type="text" [(ngModel)]="producto" nombre="producto" placeholder="Ingrese nombre del producto"></ion-input>
  </ion-item>

  <ion-card (click)="seleccione()">
    <img [src]="foto ? foto : '../../../assets/images/camera.png' ">
    <p>Seleccione para agrega una imagen</p> 
  </ion-card>

  <ion-item lines="none">
    <ion-textarea rows="5" [(ngModel)]="descripcion" nombre="descripcion" placeholder="Describa brevemente su producto"></ion-textarea>
  </ion-item>

  <ion-item lines="none">
    <ion-select [(ngModel)]="tipo_pro" placeholder="Seleccione el tipo del producto" interface="popover">
      <ion-select-option *ngFor="let tipo of listaTipoProducto" [value]="tipo.id">{{tipo.descripcion}}</ion-select-option>
    </ion-select> 
  </ion-item>

  <!-- <ion-item lines="none">
    <ion-input type="number" [(ngModel)]="stock" nombre="stock" placeholder="Registre stock del producto"></ion-input>
  </ion-item> -->

  <ion-item lines="none">
    <ion-input style="font-weight: 500; font-size:20px;" type="real" [(ngModel)]="precio" nombre="precio" placeholder="Ingrese el precio" (ionChange)="setPrecioFinal()"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input style="font-weight: 500; font-size:20px;" type="number" max="100" min="0" [(ngModel)]="descuento" nombre="descuento" placeholder="Ingrese el descuento" (ionChange)="setPrecioFinal()"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-input style="font-weight: 500; font-size:16px;" color="danger" type="real" [(ngModel)]="precio_final" nombre="precio_final" placeholder="Aquí podra visualizar el precio final" readonly="true"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-textarea rows="6" [(ngModel)]="terminos" nombre="terminos" placeholder="Registre los terminos y condiciones de su producto"></ion-textarea>
  </ion-item>

  <!-- <ion-item lines="none">
      <ion-label>Acepta los terminos y condiciones</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="condiciones" checked="true" mode="md"></ion-checkbox>
   </ion-item> -->

  <ion-button expand="block" (click)="registrarOferta()">Registrar oferta</ion-button>

</ion-content>
