ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white; 
}

ion-content{
    --background: #eeeeee;
}

ion-card{
    --background: white;
    height: 180px;
    margin: 12px 8px 12px 8px;
}

img{
    width: auto;
    height: auto;
    margin: auto;
    object-fit: contain;
}

p{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    color: black;
}

ion-item{
    --background:transparent;
}

/*Inputs*/
ion-item.sc-ion-input-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-ios-h{
    --padding-start: 10px;
}

ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h{
    --padding-start: 10px;
}
/*Textarea*/
ion-item.sc-ion-textarea-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-textarea-ios-h{
    --padding-start: 10px;
}

ion-item.sc-ion-textarea-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-textarea-md-h{
    --padding-start: 10px;
}

ion-input, ion-select{
    border-bottom: 1px solid #8299eb;
    margin: 10px 0px 10px 0px;
    min-width: 100%;
}

ion-input[type=real]:before {
    content: "  S/.";
}

ion-input[type=number]:before {
    content: "%";
}

ion-textarea{
    border: 0.5px solid #8299eb;
    margin: 10px 0px 10px 0px;
    --background:white;
}