<ion-content text-center no-padding fullscreen>
  <ion-img class="logo-img" src="../../assets/images/logo.png"></ion-img>

  
  <ion-item class="register-input" no-lines>
      <ion-icon color="light" name="contact" item-left></ion-icon>
      <ion-input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombres y Apellidos"></ion-input>
  </ion-item>

  <ion-item class="register-input" no-lines>
    <ion-icon color="light" name="call" item-left></ion-icon>
    <ion-input type="tel" [(ngModel)]="telefono" name="telefono" placeholder="Telefono / Celular"></ion-input>
  </ion-item>

  <ion-item class="register-input" no-lines>
    <ion-icon color="light" name="mail" item-left></ion-icon>
    <ion-input type="mail" [(ngModel)]="correo" name="correo" placeholder="Correo"></ion-input>
  </ion-item>

  <ion-item class="register-input" no-lines>
    <ion-icon color="light" name="key" item-left></ion-icon>
    <ion-input [type]="passwordType" [(ngModel)]="clave" name="clave" placeholder="Contraseña"></ion-input>
    <ion-button fill="clear" (click)="hideShowPassword()"><ion-icon color="light" name="eye-off" slot="end" [name]="passwordIcon" class="passwordIcon"></ion-icon></ion-button>
  </ion-item>

  <br><br>
  <ion-button class="btn-login" shape="round" (click)="register()">Registrarme</ion-button>
  <br><br><br>
  <ion-button class="btn-back" color="medium" shape="round" size="small" (click)="goBack()"><ion-icon name="arrow-back"></ion-icon></ion-button>
  

</ion-content>
