<ion-header class="animated bounceIn delay-0.5s">
  <ion-toolbar mode=ios>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="animated bounceIn delay-0.5s">
  <ion-row class="categories-list">
    <ion-col *ngIf="idNegocio != '' " class="category-item home-color" size="12" (click)="goPage('/menu/oferta')">
      <app-image-shell [mode]="'cover'" class="category-cover add-spinner" [src]="'./assets/images/image_1.jpg'">
        <app-aspect-ratio [ratio]="{w:75, h:40}">
          <a class="category-anchor">
            <h2 class="category-title">Oferta del día</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col *ngIf="idNegocio != '' " class="category-item home-color" size="6" (click)="goPage('/menu/cotiza')">
      <app-image-shell [mode]="'cover'" class="category-cover add-spinner" [src]="'./assets/images/image_6.jpeg'">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <a class="category-anchor">
            <h2 class="category-title">Cotiza</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item home-color" size="6" (click)="goPage('/menu/crece')">
      <app-image-shell [mode]="'cover'" class="category-cover add-spinner" [src]="'./assets/images/image_3.jpg'">
        <app-aspect-ratio [ratio]="{w:1, h:1}">
          <a class="category-anchor">
            <h2 class="category-title">Crece</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>  
    <ion-col class="category-item home-color" size="12" (click)="goPage('/menu/mejora')">
      <app-image-shell [mode]="'cover'" class="category-cover add-spinner" [src]="'./assets/images/image_2.jpg'">
        <app-aspect-ratio [ratio]="{w:70, h:30}">
          <a class="category-anchor">
            <h2 class="category-title">Mejora tu empresa</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
    <ion-col class="category-item home-color" size="12" (click)="goPage('/menu/contable')">
        <app-image-shell [mode]="'cover'" class="category-cover add-spinner" [src]="'./assets/images/image_5.jpg'">
          <app-aspect-ratio [ratio]="{w:70, h:30}">
            <a class="category-anchor">
              <h2 class="category-title">Tu Socio Contable</h2>
            </a>
          </app-aspect-ratio>
        </app-image-shell>
    </ion-col>
    <ion-col class="category-item home-color" size="12" (click)="goPage('/menu/chassky')">
      <app-image-shell [mode]="'cover'" class="category-cover add-spinner" [src]="'./assets/images/image_4.jpeg'">
        <app-aspect-ratio [ratio]="{w:70, h:30}">
          <a class="category-anchor">
            <h2 class="category-title">ChaSSky</h2>
          </a>
        </app-aspect-ratio>
      </app-image-shell>
    </ion-col>
  </ion-row>
</ion-content>
