@import "../../theme/mixins/scrollbars.scss";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);

  --page-categories-gutter: calc(var(--page-margin) / 4);

  --page-category-background-rgb: var(--ion-color-medium-rgb);

  --ion-color-lightest: #ffffff;

  app-image-shell.category-cover {
    --image-shell-border-radius: 10px;
  }
}

ion-toolbar{
  --background: linear-gradient(to right, #253676, #0067ae);
  color: white;
}

ion-title{
  font-size: 14px;
  padding: 0px;
}

.categories-list {
  --ion-grid-column-padding: var(--page-categories-gutter);

  padding: calc(var(--page-categories-gutter) * 3);
  height: 100%;
  align-content: flex-start;
  overflow: scroll;

  @include hide-scrollbars();

  .category-item {

    margin-bottom: 10px;

    .category-anchor {
      height: 100%;
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      opacity: 1;
      .category-title {
        margin: auto;
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 1px;
        padding: calc((var(--page-margin) / 4) * 3) var(--page-margin);
        color: #000000;
        background-color: var(--page-category-background);
        border-radius: 50px;
      }
    }
  }

  .home-color {
    --page-category-background: white;
    --page-category-background-rgb: 0,175,255;
  }

}

