// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #253676;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2f3e77;
  --ion-color-primary-tint: #2f3e77;

  /** secondary **/
  --ion-color-secondary: #0067ae;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #076caf;
  --ion-color-secondary-tint: #076caf;

  /** tertiary **/
  --ion-color-tertiary: #0eb453;
  --ion-color-tertiary-rgb: 14, 180, 83;
  --ion-color-tertiary-contrast: #8BE0AE;
  --ion-color-tertiary-contrast-rgb: 139, 224, 174;
  --ion-color-tertiary-shade: #8BE0AE;
  --ion-color-tertiary-tint: #8BE0AE;

  /** success **/
  --ion-color-success: transparent;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: transparent;
  --ion-color-success-tint: transparent;

  /** warning **/
  --ion-color-warning: #ff540e;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e06433;
  --ion-color-warning-tint: #e06433;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #000000;
  --ion-color-dark-rgb: 0, 0, 0;
  --ion-color-dark-contrast: #e9e9e9;
  --ion-color-dark-contrast-rgb: 233, 233, 233;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  $text-input-highlight-color-valid:transparent;
  $text-input-highlight-color-invalid:transparent;

}
:root {
  /* Set the font family of the entire app */
  
  --ion-font-family: 'Rubik', sans-serif;

  --app-background: #FFFFFF;
  --app-background-shade: var(--ion-background-color-step-50, #F2F2F2);
  --app-background-alt: var(--ion-color-primary);
  --app-background-alt-shade: var(--ion-color-primary-shade);

  --app-narrow-margin: 12px;
  --app-fair-margin: 16px;
  --app-broad-margin: 20px;

  --app-narrow-radius: 4px;
  --app-fair-radius: 8px;
  --app-broad-radius: 12px;

  @keyframes drop_in {
    from {
        -webkit-transform: scale(2);
        transform: scale(2);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
  }   

  @keyframes wobble {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    15% {
        transform: translate(-25px, 0px) rotate(-5deg);
    }
    30% {
        transform: translate(20px, 0px) rotate(3deg);
    }
    45% {
        transform: translate(-15px, 0px) rotate(-3deg);
    }
    60% {
        transform: translate(10px, 0px) rotate(2deg);
    }
    75% {
        transform: translate(-5px, 0px) rotate(-1deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
  }

  @keyframes bounce {
    0% {
        transform: translate(0px, 0px);
    }
    15% {
        transform: translate(0px, -25px);
    }
    30% {
        transform: translate(1px, 0px);
    }
    45% {
        transform: translate(1px, -15px);
    }
    60% {
        transform: translate(1px, -1px);
    }
    75% {
        transform: translate(1px, -5px);
    }
    100% {
        transform: translate(1px, 0px);
    }
    }

    @keyframes shake {
        0% {
            transform: translate(0px, 0px);
        }
        10% {
            transform: translate(-10px, 0px);
        }
        20% {
            transform: translate(10px, 0px);
        }
        30% {
            transform: translate(-10px, 0px);
        }
        40% {
            transform: translate(10px, 0px);
        }
        50% {
            transform: translate(-10px, 0px);
        }
        60% {
            transform: translate(10px, 0px);
        }
        70% {
            transform: translate(-10px, 0px);
        }
        80% {
            transform: translate(10px, 0px);
        }
        90% {
            transform: translate(-10px, 0px);
        }
        100% {
            transform: translate(0px, 0px);
        }
    }
}

