// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background);
  
    --page-tags-vertical-gutter: 2px;
    --page-tags-horizontal-gutter: 4px;
    --page-places-gutter: 5px;
  
    --page-color: #00AFFF;
  }

  .header-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
  }

  ion-button{
    --background: linear-gradient(to right, #253676, #0067ae);
  }

  ion-title{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding-right: 0px;
    padding-left: 5px;
    font-size: 14px;
  }

  .logo-detail{
    width: 130px;
    height: 120px;
    margin-top: -35px;
    position: absolute;
    z-index: 999;
    left: 32%;
  }
  
  // Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
  .travel-details-content {
    --background: var(--page-background);
  
    .image-row {
      --ion-grid-column-padding: 0px;
  
      .icon-wrapper {
        margin: 0px 15%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }
  
    .description-row {
      --ion-grid-column-padding: 0px;
      margin-top: 70px;
      padding: var(--page-margin) var(--page-margin) calc(var(--page-margin) * 2);
  
      .details-name {
        margin: 0px;
        font-size: 20px;
      }
  
      .details-short-description {
        margin-top: calc(var(--page-margin) / 2);
        margin-bottom: var(--page-margin);
        font-size: 14px;
      }
  
      .details-score {
        display: flex;
        justify-content: flex-start;
        margin-bottom: var(--page-margin);
  
        .score-item {
          display: flex;
          align-items: center;
  
          &:not(:last-child) {
            padding-right: var(--page-margin);
          }
  
          .score-icon {
            font-size: 24px;
          }
  
          .score-value {
            font-size: 16px;
            margin-left: 4px;
          }
        }
      }
  
      .details-tags {
        --ion-grid-column-padding: 0px;
  
        justify-content: center;
        margin-top: calc(var(--page-tags-vertical-gutter) * -1);
  
        .tag-wrapper {
          padding: var(--page-tags-vertical-gutter) var(--page-tags-horizontal-gutter) var(--page-tags-vertical-gutter) 0px;
          flex-grow: 0;
          min-width: fit-content;
  
          &:last-child {
            padding-right: 0px;
          }
        }
  
        .item-tag {
          display: block;
          border-radius: var(--app-narrow-radius);
          border: 1px solid var(--ion-color-light-shade);
          padding: var(--page-tags-vertical-gutter) var(--page-tags-horizontal-gutter);
          font-size: 14px;
          color: var(--ion-color-medium-tint);
        }
      }
  
      .details-description {
        margin: calc(var(--page-margin) * 2) 0px 0px;
        line-height: 1.3;
        font-size: 14px;
      }
    }
  
    .detail-title {
      font-size: 16px;
      font-weight: 600;
      color: var(--ion-color-dark-tint);
      margin: 0px 0px var(--page-margin);
    }
  
    .open-hours-wrapper {
      padding: 0px var(--page-margin) calc(var(--page-margin) * 2);
  
      .schedules-list {
        list-style: none;
        margin: 0px;
        padding: 0px;
  
        .open-hour-item {
          font-size: 14px;
          color: var(--ion-color-medium-tint);
  
          & + .open-hour-item {
            margin-top: calc(var(--page-margin) / 2);
          }
  
          .schedule-outer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 75%;
  
            .schedule-day {
              display: block;
              padding-right: var(--page-margin);
              width: 40%;
              font-size: 14px;
            }
  
            .schedule-hours {
              flex: 1;
              display: flex;
              justify-content: flex-end;
              align-items: center;
  
              .schedule-separator {
                margin: 0px var(--page-margin);
                line-height: 1;
              }
  
              .schedule-value {
                flex: 0 1 25%;
                font-weight: 500;
  
                &:first-child {
                  text-align: start;
                }
                &:last-child {
                  text-align: end;
                }
              }
  
              .schedule-closed {
                text-transform: uppercase;
                font-size: 12px;
              }
            }
          }
        }
      }
    }

    .accommodations-wrapper {

        .accommodation-row {
          --ion-grid-column-padding: 0px;
      
          align-items: center;
      
          & + .accommodation-row {
            padding-top: calc(var(--page-margin) / 2);
          }
      
          .icon-wrapper {
            display: flex;
            align-items: center;
            flex-grow: 0;
            padding-right: 10px;
          }
      
          .accommodation-icon {
            font-size: 30px;
            color: var(--ion-color-medium-shade);
          }
      
          .accommodation-name {
            display: block;
            font-size: 14px;
            color: var(--ion-color-medium-tint);
          }
      
          .accommodation-value {
            display: block;
            font-size: 16px;
            color: var(--ion-color-medium-tint);
          }
        }
      }
  
    .location-wrapper {
      padding: 0px 0px calc(var(--page-margin) * 2);
  
      .location-header {
        padding: 0px var(--page-margin) 0px;
        margin-bottom: calc(var(--page-margin) / 2);
      }
  
      .detail-title {
        margin-bottom: 5px;
      }
  
      .location-address {
        display: block;
        font-size: 14px;
        color: var(--ion-color-medium-tint);
      }
    }
  
    .detail-alt-title {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      color: var(--ion-color-dark-shade);
      margin: 0px 0px var(--page-margin);
    }
  
    .suggested-places-wrapper {
      padding: 0px var(--page-margin) calc(var(--page-margin) * 2);
  
      .suggested-places-row {
        --ion-grid-column-padding: var(--page-places-gutter);
  
        margin-left: calc(var(--page-places-gutter) * -1);
        margin-right: calc(var(--page-places-gutter) * -1);
  
        .suggested-place {
          display: flex;
          flex-direction: column;
          padding-top: 0px;
          padding-bottom: 0px;
  
          .place-details {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
  
            .place-name {
              font-size: 12px;
              font-weight: 400;
              margin: calc(var(--page-margin) / 2) 0px 5px;
              text-align: center;
            }
  
            .place-rating {
              display: flex;
              justify-content: center;
              align-items: center;
  
              .rating-icon {
                color: var(--page-color);
              }
  
              .rating-value {
                color: var(--page-color);
                font-size: 14px;
                margin-left: 4px;
              }
            }
          }
        }
      }
    }
  
    .related-activities-wrapper {
      padding: 0px 0px calc(var(--page-margin) * 2);
  
      .related-activity {
        --ion-grid-column-padding: 0px;
  
        &:not(:last-child) {
          margin-bottom: var(--page-margin);
        }
  
        .activity-details {
          text-align: center;
          position: relative;
  
          .activity-name {
            margin: 0px;
            margin-top: 5px;
            font-size: 14px;
          }
  
          .activity-category {
            display: block;
            margin-top: 2px;
            font-size: 12px;
          }
  
          .activity-rating {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 5px;
            margin-right: var(--page-margin);
  
            display: flex;
            justify-content: center;
            align-items: center;
  
            .rating-icon {
              color: var(--page-color);
            }
  
            .rating-value {
              color: var(--page-color);
              font-size: 14px;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --shell-color: #00AFFF;
    --shell-color-rgb: 0,175,255;
  }
  
  // You can also apply sheel styles to the entire page
  :host(.is-shell) {
    // ion-content {
    //   opacity: 0.8;
    // }
  }
  
  app-image-shell.details-image {
    --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
    --image-shell-overlay-background: rgba(var(--ion-color-dark-rgb), .40);
    --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
  }
  
  app-image-shell.details-icon {
    --image-shell-loading-background: transparent;
  }
  
  .details-name > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .20);
    --text-shell-line-height: 20px;
  }
  
  .details-short-description > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .10);
    --text-shell-line-height: 14px;
  }
  
  .score-value > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .15);
    --text-shell-line-height: 14px;
    min-width: 30px;
  
    &.text-loaded {
      min-width: 0px;
    }
  }
  
  .item-tag > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .15);
    --text-shell-line-height: 14px;
    min-width: 50px;
  
    &.text-loaded {
      min-width: 0px;
    }
  }
  
  .details-description > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .10);
    --text-shell-line-height: 14px;
  }
  
  .schedule-day > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .10);
    --text-shell-line-height: 14px;
    max-width: 90%;
  
    &.text-loaded {
      max-width: inherit;
    }
  }
  
  .schedule-value > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .10);
    --text-shell-line-height: 14px;
    max-width: 100%;
  
    &.text-loaded {
      max-width: inherit;
    }
  }
  
  .location-address > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .10);
    --text-shell-line-height: 14px;
    max-width: 60%;
  
    &.text-loaded {
      max-width: inherit;
    }
  }
  
  app-image-shell.location-image {
    --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
    --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
  }
  
  app-image-shell.place-picture {
    --image-shell-loading-background: rgba(var(--shell-color-rgb), .05);
    --image-shell-spinner-color: rgba(var(--shell-color-rgb), .15);
  }
  
  .place-name > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .10);
    --text-shell-line-height: 12px;
  }
  
  .rating-value > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .05);
    --text-shell-line-height: 14px;
    min-width: 30px;
  
    &.text-loaded {
      min-width: 0px;
    }
  }
  
  app-image-shell.related-activity-picture {
    --image-shell-loading-background: rgba(var(--shell-color-rgb), .05);
    --image-shell-spinner-color: rgba(var(--shell-color-rgb), .15);
  }
  
  .activity-name > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .20);
    --text-shell-line-height: 14px;
    max-width: 25%;
    margin: 0px auto;
  
    &.text-loaded {
      max-width: inherit;
      margin: 0px;
    }
  }
  
  .activity-category > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .10);
    --text-shell-line-height: 12px;
    max-width: 45%;
    margin: 0px auto;
  
    &.text-loaded {
      max-width: inherit;
      margin: 0px;
    }
  }
  
  .rating-value > app-text-shell {
    --text-shell-line-color: rgba(var(--shell-color-rgb), .15);
    --text-shell-line-height: 14px;
    min-width: 30px;
  
    &.text-loaded {
      min-width: 0px;
    }
  }