<ion-header>
    <ion-toolbar class="header-toolbar">
        <ion-buttons slot="start">
            <ion-back-button mode="md" color="light" defaultHref="/menu/oferta/producto"></ion-back-button>
        </ion-buttons>
        <ion-title>{{razon}}</ion-title>
        <ion-buttons *ngIf=" cod_socio_visita == idsocio" slot="end">
            <ion-icon name="more" mode="md" slot="start" (click)="extraFunctions()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="travel-details-content">
      <ion-row class="image-row">
        <ion-col size="12">
          <app-image-shell [mode]="'cover'" class="add-spinner details-image" [src]="ofertaFoto">
            <app-aspect-ratio [ratio]="{w:10, h:5}">
            </app-aspect-ratio>
          </app-image-shell>
        </ion-col>
      </ion-row>
  
      <div>
        <img class="logo-detail" [src]="logo_user">
      </div>
  
      <ion-row class="description-row">
          <ion-col size="12">
            <h3 class="details-name">
              <app-text-shell [data]="producto"></app-text-shell>
            </h3>
            <p class="details-short-description">
              <app-text-shell [data]="descripcion"></app-text-shell>
            </p>
          </ion-col>
          <ion-col size="12">
            <div class="details-score">
              <div class="score-item">
                <ion-icon color="medium" class="score-icon" name="star"></ion-icon>
                <div class="score-value">
                  <app-text-shell [data]="calificacion" class="no-animation"></app-text-shell>
                </div>
              </div>
              <div class="score-item">
                  <ion-icon color="medium" class="score-icon" name="cart"></ion-icon>
                  <div class="score-value">
                    <app-text-shell [data]="stock" class="no-animation"></app-text-shell>
                  </div>
              </div>
              <div class="score-item"><br></div>
              <div class="score-item"><br></div>
              <div class="score-item"><br></div>
              <div class="score-item"><br></div>
              <div class="score-item">
                  <ion-button color="secondary" size="small" (click)="visitProfile(idsocio)">Ver Perfil<ion-icon slot="end" name="contact"></ion-icon></ion-button> 
              </div>
              <div class="score-item">
                <ion-icon color="medium" class="score-icon" name="more" mode="md" slot="end" (click)="openMenu()"></ion-icon> 
              </div>
            </div>
          </ion-col>
          <ion-col size="12">
            <h3 class="detail-title">Terminos y Condiciones</h3>
            <p class="details-description">
              <app-text-shell [data]="terminos" [attr.lines]="6"></app-text-shell>
            </p>
          </ion-col>
        </ion-row>
      <div class="open-hours-wrapper">
        <h3 class="detail-title">¿Donde?</h3>
        <div class="accommodations-wrapper">
            <ion-row class="accommodation-row">
              <ion-col class="icon-wrapper">
                <ion-icon class="accommodation-icon" name="business"></ion-icon>
              </ion-col>
              <ion-col size="2.5">
                <span class="accommodation-name">Empresa</span>
              </ion-col>
              <ion-col size="7.5">
                <span class="accommodation-value">
                  <app-text-shell [data]="razon" class="no-animation"></app-text-shell>
                </span>
              </ion-col>
            </ion-row>
            <ion-row class="accommodation-row">
              <ion-col class="icon-wrapper">
                <ion-icon class="accommodation-icon" name="call"></ion-icon>
              </ion-col>
              <ion-col size="2.5">
                <span class="accommodation-name">Telefono</span>
              </ion-col>
              <ion-col size="7.5">
                <span class="accommodation-value">
                  <app-text-shell [data]="telefono" class="no-animation"></app-text-shell>
                </span>
              </ion-col>
            </ion-row>
            <ion-row class="accommodation-row">
              <ion-col class="icon-wrapper">
                <ion-icon class="accommodation-icon" name="contact"></ion-icon>
              </ion-col>
              <ion-col size="2.5">
                <span class="accommodation-name">Contacto</span>
              </ion-col>
              <ion-col size="7.5">
                <span class="accommodation-value">
                  <app-text-shell [data]="nombre_socio" class="no-animation"></app-text-shell>
                </span>
              </ion-col>
            </ion-row>
            <ion-row class="accommodation-row">
              <ion-col class="icon-wrapper">
                <ion-icon class="accommodation-icon" name="pin"></ion-icon>
              </ion-col>
              <ion-col size="2.5">
                <span class="accommodation-name">Direccion</span>
              </ion-col>
              <ion-col size="7.5">
                <span class="accommodation-value">
                  <app-text-shell [data]="direccion" class="no-animation"></app-text-shell>
                </span>
              </ion-col>
            </ion-row>
          </div>
      </div>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
        <ion-button expand="block" (click)="callSocio()">¡Llamar!</ion-button>
        </ion-toolbar>
    </ion-footer>
