<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/contable/inventario"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">KARDEX</ion-title>
    <ion-buttons slot="end">
        <ion-button color="light" slot="icon-only" (click)="showOptions()"><ion-icon color="light" mode="md" name="more"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
      <ion-segment mode="md" scrollable="true" [(ngModel)]="kardex" (ionChange)="segmentChanged($event)">
        <ion-segment-button layout="icon-bottom" value="entrada">
          <ion-label color="light">ENTRADAS</ion-label>
          <ion-icon color="light" src="	entrada.svg"></ion-icon>
        </ion-segment-button>
        <ion-segment-button layout="icon-bottom" value="salida">
          <ion-label color="light">SALIDAS</ion-label>
          <ion-icon color="light" src="../../../../assets/icon/salida.svg"></ion-icon>
        </ion-segment-button>
        <ion-segment-button layout="icon-bottom" value="saldo">
            <ion-label color="light">SALDOS</ion-label>
            <ion-icon color="light" src="../../../../assets/icon/saldo.svg"></ion-icon>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding scrollX="true">

<div [ngSwitch]="kardex">

  <div *ngIf="kardex == 'entrada' ">
    <table border="1" class="data-table">
      <tr>
          <td colspan="3"></td>
          <td colspan="2">ENTRADA</td>
      </tr>
      <tr>
        <td width="15%">FECHA</td>
        <td width="35%">PRODUCTO</td>
        <td width="10%">VALOR UNITARIO</td>
        <td width="20%">CANTIDAD</td>
        <td width="20%">TOTAL</td>
      </tr>
      <tr>
      </tr>
    </table>
  </div>

  <div *ngIf="kardex == 'salida' ">
      <table border="1" class="data-table">
          <tr>
              <td colspan="3"></td>
              <td colspan="2">SALIDAS</td>
          </tr>
          <tr>
              <td width="15%">FECHA</td>
              <td width="35%">PRODUCTO</td>
              <td width="10%">VALOR UNITARIO</td>
              <td width="20%">CANTIDAD</td>
              <td width="20%">TOTAL</td>
          </tr>
          <tr>
          </tr>
        </table>
  </div>

  <div *ngIf="kardex == 'saldo' ">
      <table border="1" class="data-table">
          <tr>
              <td colspan="3"></td>
              <td colspan="2">SALDOS</td>
          </tr>
          <tr>
              <td width="15%">FECHA</td>
              <td width="35%">PRODUCTO</td>
              <td width="10%">VALOR UNITARIO</td>
              <td width="20%">CANTIDAD</td>
              <td width="20%">TOTAL</td>
          </tr>
          <tr>
          </tr>
        </table>
  </div>

</div>  

</ion-content>
