ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
    overflow: scroll;
}

ion-title{
    padding: 0px;
}

ion-content{
    --background:#eeeeee;
}

  
ion-segment-button{
    --color-activate: white;
    --color-checked: white;
}

tr{
    background: white;
}

td{
    padding: 5px 15px 5px 15px;
}