<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" mode="md" defaultHref="/home"></ion-back-button>
    </ion-buttons>
      <ion-title>MIS CONTACTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
