<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/contable"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">PROVEEDORES</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="md" [(ngModel)]="option" (ionChange)="segmentChanged($event)">
      <ion-segment-button mode="md" layout="icon-only" value="proveedores">
        <ion-icon color="light" name="list-box"></ion-icon>
      </ion-segment-button>
      <ion-segment-button mode="md" layout="icon-only" value="qrcode">
        <ion-icon color="light" src="../../../assets/icon/qrcode.svg"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

<div [ngSwitch]="option">

  <div *ngIf="option == 'proveedores' ">

  <ion-card class="wobble" *ngFor="let proveedor of ListaProveedores" (click)="irDetalle(proveedor.idProveedor)">
      <ion-row class="user-details-section">
          <ion-col class="user-image-wrapper">
              <app-aspect-ratio [ratio]="{w: 1, h: 1}">
                <app-image-shell class="user-avatar add-spinner" [src]="proveedor.foto"></app-image-shell>
              </app-aspect-ratio>
          </ion-col>
          <ion-col class="user-info-wrapper">
            <ion-row class="user-data-row">
              <ion-col size="12">
                <h4 class="user-name">
                  <app-text-shell [data]="proveedor.nombre"></app-text-shell>
                </h4>
                <h5 class="user-title">
                  <app-text-shell [data]="proveedor.ruc"></app-text-shell>
                </h5>
              </ion-col>
            </ion-row>
          </ion-col>
      </ion-row>
  </ion-card>

  </div>

  <div *ngIf="option == 'qrcode'" class="qr-container">
      <ion-card>
        <ngx-qrcode [qrc-value]="createdCode" [qrc-version]=5 [qrc-correction-level]="'L'"></ngx-qrcode>
      </ion-card>
  </div>

  </div>
  <ion-fab horizontal="end" vertical="bottom">
      <ion-fab-button color="primary" (click)="scan()"><ion-icon src="../../../assets/icon/phonescanner.svg" ></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>
