@import "../../../theme/mixins/scrollbars.scss";

// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
  --page-margin: var(--app-narrow-margin);
  --page-border-radius: var(--app-fair-radius);

  --page-actions-padding: 5px;
  --page-friends-gutter: calc(var(--page-margin) / 2);
  --page-pictures-gutter: calc(var(--page-margin) / 2);

  app-image-shell.user-avatar {
    --image-shell-border-radius: 5%;
    --image-shell-spinner-color: var(--ion-color-light);
  }
}

ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
}

ion-segment-button{
  --color-activate: white;
  --color-checked: white;
}

.qr-container{
  background: white;
  opacity: 1;
  width: 300px;
  margin: auto;
}

.btn-add{
    --background: linear-gradient(to right, #253676, #0067ae);
    border-radius: 35px;
}

ion-card{
    margin: 5px;
}


// Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.user-details-section {
  --ion-grid-column-padding: 0px;
  border-color: 1px solid black;
  margin: var(--page-margin);

  .user-image-wrapper {
    max-width: 26%;
  }

  .user-info-wrapper {
    padding-left: var(--page-margin);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;

    .user-data-row {
      padding-bottom: var(--page-margin);
      flex-wrap: nowrap;
      justify-content: space-between;

      .user-name {
        margin: 15px 0px 5px 0px;
        font-size: 18px;
        letter-spacing: 0.5px;
      }

      .user-title {
        margin: 0px;
        color: var(--ion-color-medium);
        font-size: 16px;
      }

      .membership-col {
        margin-left: -5px;
        flex-grow: 0;
      }

      .user-membership {
        display: block;
        background-color: #ff540e;
        color: #ffffff;
        border-radius: var(--app-narrow-radius);
        padding: 4px 8px;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
      }
    }

    .actions-row {
      --ion-grid-columns: 10;
      --ion-grid-column-padding: var(--page-actions-padding);

      justify-content: space-between;
      flex-wrap: nowrap;
      margin-left: calc(var(--page-actions-padding) * -1);
      margin-right: calc(var(--page-actions-padding) * -1);

      .main-actions {
        flex-grow: 0;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: calc(var(--page-actions-padding) * -1);
        margin-right: calc(var(--page-actions-padding) * -1);
        display: flex;

        .call-to-action-btn {
          padding: 0px var(--page-actions-padding);
          margin: 0px;
        }
      }

      .secondary-actions {
        flex-grow: 0;
        padding-top: 0px;
        padding-bottom: 0px;

        .more-btn {
          --padding-start: 4px;
          --padding-end: 4px;

          margin: 0px;
        }
      }
    }
  }
}
