ion-header{
    --background: rgba(255,255,255,0.5);
}

ion-toolbar{
    --background: rgba(255,255,255,0.5);
}

ion-title{
    font-size: 14px;
    padding: 0px;
    font-weight: 600;
}

ion-content{
    --background: rgba(255,255,255,0.5);
}


.mode1{
    width: 80% !important;
    margin: auto;
    margin-top: 10px;
    height: 40px;
    --background: rgba(255,255,255,0.85);
    --border-radius: 15px;
    --min-height: 30px;

    ion-input{
        font-size: 12px;
        --padding-start: 5px;
    }
}

ion-button{
    font-size: 12px;
    float: right;
    margin-right: 10%;
}