<ion-header no-border>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="close()"><ion-icon color="primary" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title color="primary">Registrarme</ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content text-center>
  
  <ion-item class="mode1" no-lines>
      <ion-icon color="medium" name="contact" item-left></ion-icon>
      <ion-input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombres y Apellidos"></ion-input>
  </ion-item>

  <ion-item class="mode1" no-lines>
    <ion-icon color="medium" name="call" item-left></ion-icon>
    <ion-input type="tel" [(ngModel)]="telefono" name="telefono" placeholder="Telefono / Celular"></ion-input>
  </ion-item>

  <ion-item class="mode1" no-lines>
    <ion-icon color="medium" name="mail" item-left></ion-icon>
    <ion-input type="mail" [(ngModel)]="correo" name="correo" placeholder="Correo"></ion-input>
  </ion-item>

  <ion-item class="mode1" no-lines>
    <ion-icon color="medium" name="key" item-left></ion-icon>
    <ion-input [type]="passwordType" [(ngModel)]="clave" name="clave" placeholder="Contraseña"></ion-input>
    <ion-button fill="clear" (click)="hideShowPassword()"><ion-icon color="medium" name="eye-off" slot="end" [name]="passwordIcon" class="passwordIcon"></ion-icon></ion-button>
  </ion-item>

  <ion-button color="primary" size="small" (click)="register()">Registrarme<ion-icon color="light" name="arrow-forward"></ion-icon></ion-button>

</ion-content>
