<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/mejora/detalle"></ion-back-button>
      </ion-buttons>
      <ion-title>REALIZAR COMPRA</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content text-center no-padding>
   
          <ion-item lines="none">
              <ion-icon color="medium" name="cart" item-left></ion-icon>
              <ion-label>{{producto}}</ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-icon color="medium" name="image"></ion-icon>
            <ion-label>Ingresar imagen del voucher</ion-label>
          </ion-item>

          <ion-img class="voucher-foto" [src]="fotoVoucher"></ion-img>
          <ion-button color="primary" class="btn-edit-photo" (click)="seleccione()"><ion-icon name="camera"></ion-icon></ion-button>
          

    </ion-content>

    <ion-footer>
          <ion-button color="warning" class="btn-guardar" expand="block" (click)="addOferta()">ADQUIRIR PLAN</ion-button>
    </ion-footer>
