ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
}

ion-item{
    margin-top: 50px;
}

ion-card{
    margin-top: 30px;
}


//Espaciado del ion-item
.card-md .item-md.item-block .item-inner {
    margin-left: 5px;
    margin-right: 15px;
    border-bottom: 1px solid #434594;
}

.card-ios > .item:last-child, .card-ios > .item:last-child .item-inner, .card-ios > .item-wrapper:last-child .item {
    margin-bottom: 20px;
}

.logo-header-card{
    --backgrpund: white;
    height: 185px;
}

.voucher-foto{
    width: 90% !important;
    height: 50vh;
    margin: 5px auto 5px auto;
    object-fit: resize;
    margin-top: 10px;
    border: 4px solid #434594;
    border-radius: 25px;
}

.tusocio-brand{
    width:70px;
    height:12px;
    float:right;
    margin-right:10px;
    margin-top:1px;
    opacity: 0.8;
}

.btn-edit-photo{
    position: absolute;
    width: 40px;
    height: 40px;
    margin: -260px 0px 0px 110px;
    --border-radius: 50%; 
    font-size: 12px;
}

.item-ios.item-label-stacked .text-input, .item-ios.item-label-floating .text-input{
    padding-left: 10px;
}

ion-item.sc-ion-input-ios-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-ios-h{
    --padding-start: 10px;
}

ion-input, ion-select{
    width: 85%;
    border-bottom: 1px solid #434594;
}

ion-select{
    max-width: 90%;
}

ion-item.sc-ion-input-md-h:not(.item-label), ion-item:not(.item-label) .sc-ion-input-md-h{
    --padding-start: 10px;
}

.item-md.item-block{
    margin-top: 10px;
}

.item-ios.item-block ion-input, ion-select, ion-textarea{
    width: 98%;
    margin-right: 5%;
    border-bottom: 1px solid #434594;
}

ion-textarea{
    margin-top: 10px;
    border-top: 1px solid #434594;
    border-left: 1px solid #434594;
    border-right: 1px solid #434594;
    padding: 5px;
    margin-bottom: 10px;
}

.btn-guardar{
    margin: 5px 0px 5px 0px;
}

.card-header-ios-primary, .card-title-ios-primary, .card-content-ios-primary{
    float: right;
    margin-right: 20px;
    margin-bottom: -15px;
    color: #434594;
}