<ion-header>
  <ion-toolbar>
    <ion-title>Chassky</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true">
    <ion-slide>
        <ion-card-content>
            <img src="https://yt3.ggpht.com/a-/AAuE7mCZLeX10fC1gGVvh007Pp44kEC5zWxf1ff59w=s900-mo-c-c0xffffffff-rj-k-no">
            <p>Bienvenido a Chassky</p>
        </ion-card-content>
    </ion-slide>
    <ion-slide>
        <ion-card-content>
            <img src="https://yt3.ggpht.com/a-/AAuE7mCZLeX10fC1gGVvh007Pp44kEC5zWxf1ff59w=s900-mo-c-c0xffffffff-rj-k-no">
            <p>¿Que es Chassky?</p>
        </ion-card-content>
    </ion-slide>
    <ion-slide>
        <ion-card-content>
            <img src="https://yt3.ggpht.com/a-/AAuE7mCZLeX10fC1gGVvh007Pp44kEC5zWxf1ff59w=s900-mo-c-c0xffffffff-rj-k-no">
            <ion-button fill="clear" (click)="completeSlider()">Continuar<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </ion-card-content>
    </ion-slide>
  </ion-slides>
</ion-content>