ion-toolbar{
  --background: linear-gradient(to right, #253676, #0067ae);
  color: white;
}
  
ion-title{

}

ion-content{
  --background: #eeeeee;
}

audio, canvas, progress, video{
    width: 100% !important;
}