<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/menu/crece"></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"><ion-icon color="light" mode="md" name="create"></ion-icon></ion-button>
      <ion-button fill="clear"><ion-icon color="light" mode="md" name="more"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <iframe width="100%" height="250px" [src]="trustedVideoUrl" frameborder="0" allowfullscreen>

  <ion-card>
    <h1>Geunica</h1>
  </ion-card>

</iframe></ion-content>
