<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Acerca De</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
</ion-content>
