<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>NUESTROS PLANES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>

  <ion-card *ngFor="let plan of listaPlan" [ngStyle]="{'background': 'url(' + plan.foto + ') no-repeat center center / cover'}" (click)="irDetalle(plan.idPlan, plan.plan, plan.descripcion)">
    <h2 class="producto-nombre">PLAN {{plan.descripcion}}</h2>
    <h5 class="producto-descripcion" (click)="irDetalle(plan.idPlan, plan.plan, plan.descripcion)">Ver más</h5>    
  </ion-card>

</ion-content>
