ion-toolbar{
    --background: linear-gradient(to right, #253676, #0067ae);
    color: white;
}

.producto-nombre{
    font-size: 14px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    background: white;
    left: 0;
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-family: Helvetica;
}

.producto-descripcion{
    font-size: 12px;
    color: black;
    padding-left: 10px;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    left: 0;
    float: right;
    border-radius: 15px;
    margin-top: 135px;
    margin-right: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-family: Helvetica;
}

ion-card{
    width: 100%;
    height: 180px;
    margin: 10px 0px 0px 0px;
}